.quick-find {
  .notification {
    padding: 15px;

    .digit {
      color: rgba(255, 255, 255, 0.5);
      font-size: 32px;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-radius: 30px;
      width: 50px;
      height: 50px;
      text-align: center;
      font-weight: bold;
    }
  }

  .divisor-rapid {
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: center;
  }
}

.align-vmiddle {
  display: table-cell;
  vertical-align: middle;
  height: 50px;

  div {
    display: inline-block;
  }

  button, span, div {
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.mobile-fallback {
  padding: 15px;
  font-weight: bold;
}

.card-footer {
  font-size: 12px;
  a {
    padding: 3px;
  }
}
.text-small {
  font-size: 11px;
}

.text-normal{
  font-size:12px;
}

.b-text-small{
  font-size:14px
}

.b-text-smaller{
  font-size:12px
}

.button-small{
  padding: 3px 10px 3px 10px;
}
