@import "src/stylesheets/variables";

.quick-icon {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: auto;
}

.seed-selection {
  max-height: 600px;
}

.quick-find {
  .notification {
    padding: 1.25rem 1rem 1.25rem 1rem !important;

    .digit {
      color: rgba(255, 255, 255, 0.5);
      font-size: 32px;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-radius: 30px;
      width: 50px;
      min-width: 50px;
      height: 50px;
      text-align: center;
      align-self: center;
      margin: auto 0;
      font-weight: bold;
    }

    .digit-small {
      color: rgba(255, 255, 255, 0.5);
      font-size: 24px;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-radius: 30px;
      width: 42px;
      min-width: 42px;
      height: 42px;
      text-align: center;
      align-self: center;
      margin: auto 0;
      font-weight: bold;
    }
  }

  .notification.small {
    padding: 0.5rem 1rem !important;
  }

  .divisor-rapid {
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: center;
  }
}

.card-content.quick-find.small {
  padding: 0.5rem !important;
}

.card-content.quick-find {
  padding: 1.5rem !important;
}

.quick-start-btn {
  align-self: center;
  justify-self: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto !important;
  margin-right: auto !important;
}

.align-vmiddle {
  width: 100%;
  display: flex;
  vertical-align: middle;
  height: 50px;

  div {
    display: inline-block;
  }

  button,
  span,
  div {
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.mobile-fallback {
  padding: 15px;
  font-weight: bold;
}

.network-header {
  height: $network-header-height;
}

.card-footer {
  font-size: 12px;

  a {
    padding: 3px;
  }
}

.scroll-x {
  overflow-x: auto;
}

.selection-table {
  width: 100%;
  display: block;

  td {
    vertical-align: middle !important;
  }

  thead, tbody {
    width: 100%;
    display: block !important;
  }

  thead, tbody tr {
    width: 100%;
    display: table !important;
    table-layout: fixed;
  }
  app-fa-solid-icon{
    margin-right: -6px !important;
  }
  p {
    margin-bottom: 0 !important;
  }

}

.task-list-container {
  padding: 0.5rem !important;
}

.uniprot p {
  max-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
