@import "src/stylesheets/variables";
.drugstone-plugin-quick-icon {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: auto;
}
.drugstone-plugin-seed-selection {
  max-height: 800px;
}
.drugstone-plugin-separator {
  height: 1px;
  background-color: #ccc;
  margin: 8px 0;
}
.drugstone-plugin-scrollable-container {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  background-color: white;
}
.drugstone-plugin-quick-find {
  .drugstone-plugin-notification {
    padding: 1.25rem 1rem 1.25rem 1rem !important;
    .drugstone-plugin-digit {
      color: rgba(255, 255, 255, 0.5);
      font-size: 32px;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-radius: 30px;
      width: 50px;
      min-width: 50px;
      height: 50px;
      text-align: center;
      align-self: center;
      margin: auto 0;
      font-weight: bold;
    }
    .drugstone-plugin-digit-small {
      color: rgba(255, 255, 255, 0.5);
      font-size: 24px;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-radius: 30px;
      width: 42px;
      min-width: 42px;
      height: 42px;
      text-align: center;
      align-self: center;
      margin: auto 0;
      font-weight: bold;
    }
  }
  .drugstone-plugin-notification.drugstone-plugin-small {
    padding: 0.5rem 1rem !important;
  }
  .drugstone-plugin-divisor-rapid {
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: center;
  }
}
.drugstone-plugin-card-content.drugstone-plugin-quick-find.drugstone-plugin-small {
  padding: 0.5rem !important;
}
.drugstone-plugin-card-content.drugstone-plugin-quick-find {
  padding: 1.5rem !important;
}
.drugstone-plugin-quick-start-btn {
  align-self: center;
  justify-self: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto !important;
  margin-right: auto !important;
}
.drugstone-plugin-align-vmiddle {
  width: 100%;
  display: flex;
  vertical-align: middle;
  height: 50px;
  div {
    display: inline-block;
  }
  button,
  span,
  div {
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
  }
}
.drugstone-plugin-mobile-fallback {
  padding: 15px;
  font-weight: bold;
}
.drugstone-plugin-network-header {
  height: $network-header-height;
}
.drugstone-plugin-card-footer {
  font-size: 12px;
  a {
    padding: 3px;
  }
}
.drugstone-plugin-scroll-x {
  overflow-x: auto;
}
.drugstone-plugin-selection-table {
  width: 100%;
  display: block;
  td {
    vertical-align: middle !important;
  }
  thead, tbody {
    width: 100%;
    display: block !important;
  }
  thead, tbody tr {
    width: 100%;
    display: table !important;
    table-layout: fixed;
  }
  app-fa-solid-icon{
    margin-right: -6px !important;
  }
  p {
    margin-bottom: 0 !important;
  }
}
.drugstone-plugin-task-list-container {
  padding: 0.5rem !important;
  max-height: 500px;
  overflow-y: auto;
}
.drugstone-plugin-uniprot p {
  max-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.drugstone-plugin-choose-property-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--drgstn-text-primary);
}
.drugstone-plugin-property-item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: var(--drgstn-text-primary);
}
.drugstone-plugin-property-item:hover {
  background-color: var(--drgstn-primary);
  color: var(--drgstn-text-secondary);
}
.drugstone-plugin-property-item.drugstone-plugin-selected {
  background-color: var(--drgstn-primary);
  color: var(--drgstn-text-secondary);
}
.drugstone-plugin-divider {
  height: 1px;
  background-color: var(--drgstn-border);
  margin: 5px 0;
}
.drugstone-plugin-prune-dropdown-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 15px 0;
}
.drugstone-plugin-prune-label {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--drgstn-text-primary);
}
.drugstone-plugin-prune-select {
  padding: 10px 15px;
  font-size: 14px;
  color: var(--drgstn-text-primary);
  background-color: var(--drgstn-panel);
  border: 1px solid var(--drgstn-border);
  border-radius: 8px;
  transition: all 0.3s ease;
}
.drugstone-plugin-prune-select:hover,
.drugstone-plugin-prune-select:focus {
  border-color: var(--drgstn-primary);
  outline: none;
}
.drugstone-plugin-prune-select option {
  padding: 10px;
  font-size: 14px;
}
.drugstone-plugin-prune-select:focus option {
  background-color: var(--drgstn-primary);
  color: white;
}
.drugstone-plugin-pruning-dropdown-container {
  width: 100% !important;
  max-width: 100%;
  min-width: 100%;
  padding-top: 20px;
  box-sizing: border-box !important;
}
.drugstone-plugin-warning-icon {
  color: orange;
  margin-left: 8px;
  cursor: pointer;
}
