@import "src/stylesheets/variables";
.drugstone-plugin-dropdown-menu {
  z-index: $network-tissue-options-z !important;
}
.drugstone-plugin-inner-dropdown.drugstone-plugin-dropdown-menu {
  margin-left: 134px;
  width: 150px;
  margin-top: -45px;
  .drugstone-plugin-dropdown-content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    .drugstone-plugin-dropdown-item {
      padding: .375rem !important;
    }
  }
}
.drugstone-plugin-inner-dropdown.drugstone-plugin-small-border {
  margin-left: 100px;
}
