@import "src/stylesheets/variables";


.dropdown-menu {
  z-index: $network-tissue-options-z !important;
}

.inner-dropdown.dropdown-menu {
  margin-left: 134px;
  width: 150px;
  margin-top: -45px;

  .dropdown-content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    .dropdown-item {
      padding: .375rem !important;
    }
  }
}

.inner-dropdown.small-border {
  margin-left: 100px;
}
