<div class="drugstone-plugin-dropdown drugstone-plugin-is-hoverable">

<div class="drugstone-plugin-dropdown-trigger">

<button

[id]="buttonId"

class="drugstone-plugin-button drugstone-plugin-is-primary drugstone-plugin-is-rounded drugstone-plugin-has-tooltip"

aria-haspopup="true"

attr.aria-controls="{{ 'controls-' + buttonId }}"

[ngClass]="{ 'drugstone-plugin-is-small': drugstoneConfig.smallStyle }"     >

<span [ngClass]="{ 'drugstone-plugin-text-small': drugstoneConfig.smallStyle }"

>Download</span

>

<app-fa-solid-icon icon="download"  classString="drugstone-plugin-is-small drugstone-plugin-last-item-in-button"></app-fa-solid-icon>

</button>

</div>

<div

class="drugstone-plugin-dropdown-menu"

id="drugstone-plugin-{{ 'controls-' + buttonId }}"

role="menu"

[ngClass]="{ 'drugstone-plugin-inner-dropdown': !networkHandler.networkSidebarOpen, 'drugstone-plugin-small-border': drugstoneConfig.smallStyle} "   >

<div class="drugstone-plugin-dropdown-content">

<a

(click)="download('graphml')"

class="drugstone-plugin-dropdown-item"

[ngClass]="{ 'drugstone-plugin-text-normal': drugstoneConfig.smallStyle }"

>.graphml</a

>

<a

(click)="download('json')"

class="drugstone-plugin-dropdown-item"

[ngClass]="{ 'drugstone-plugin-text-normal': drugstoneConfig.smallStyle }"

>.json</a

>

<a

(click)="download('csv')"

class="drugstone-plugin-dropdown-item"

[ngClass]="{ 'drugstone-plugin-text-normal': drugstoneConfig.smallStyle }"

>.csv</a

>

</div>

</div>

</div>


