<!--htmlhint inline-style-disabled:false -->
<div class="content landing scroll">
  <div class="container has-text-centered">
    <div class="column">
      <div class="logo-box is-hidden-mobile">
        <img src="assets/covex_logo.png" style="height: 233px; width: 600px">
      </div>

      <div class="has-text-centered video-box">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/H9pbYQFlt6U" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </div>

      <div class="button-box is-hidden-mobile">
        <button class="button has-text-info is-large is-rounded">
          <a routerLink="/explorer" routerLinkActive="is-active">
            <span class="icon"><i class="fa fa-project-diagram has-text-info"></i></span>
            <span>Start App</span>
          </a>
        </button>
      </div>

      <div class="button-box is-hidden-tablet">
        <button class="button has-text-info is-large is-rounded">
          <a routerLink="/explorer" routerLinkActive="is-active">
            <span class="icon"><i class="fa fa-project-diagram has-text-info"></i></span>
            <span>Open Desktop App</span>
          </a>
        </button>
      </div>

      <div class="text-box is-hidden-mobile">
        <h1 class="subtitle is-3">
          Explore the virus-host interactome
        </h1>
        <h1 class="subtitle is-3">
          Find putative drug targets
        </h1>
        <h1 class="subtitle is-3">
          Repurpose drugs
        </h1>
        <h1 class="subtitle is-3">
          All in one web-tool
        </h1>
      </div>
    </div>
  </div>
</div>
