<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3">

          <img src="assets/covex_logo.png">

          <h1 class="subtitle is-2">
            <i>Explore</i> the <b> virus-host interactome</b>
          </h1>
          <h1 class="subtitle is-2">
            <i>Find</i> <b> putative drug targets</b>
          </h1>
          <h1 class="subtitle is-2">
            <i>Repurpose</i> <b> drugs </b>
          </h1>
          <h1 class="subtitle is-2">
            <i>All in one web-tool</i>
          </h1>

          <button class="button has-text-info is-large is-rounded ">
            <a routerLink="/explorer" routerLinkActive="is-active">
              <span class="icon"><i class="fa fa-project-diagram has-text-info"></i></span>
              <span>Start now!</span>
            </a>
          </button>

      </div>
    </div>
  </div>

</section>
<script async type="text/javascript" src="../js/bulma.js"></script>
