img {
  width: 600px;
  height: 200px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
}

div.scroll {
  overflow: auto;
  height: calc(100vh - 60px);
}

.logo-box {
  maring-top: 20px;
  maring-bottom: 20px;
}

.text-box {
  .subtitle {
    color: #c8c8c8;
  }
}

.video-box {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;

  iframe {
    max-width: 100%;
  }
}

.button-box {
  maring-top: 40px;
  margin-bottom: 40px;
}
