@import "src/stylesheets/variables";
#drugstone-plugin-parser-issue-banner{
  position: absolute;
  bottom: 0;
  z-index: $parser-issue-banner-z;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  &.drugstone-plugin-disabled {
    display: none;
  }
}
