<div class="card bar-large mt-0">
  <header
    class="card-header"
    [ngClass]="{ 'b-text-small': drugstoneConfig.smallStyle }"
    >
    <p class="card-header-title">
      @if (
        !networkHandler.activeNetwork.selectedWrapper &&
        !networkHandler.activeNetwork.activeEdge
        ) {
        <app-fa-solid-icon icon="info"></app-fa-solid-icon>
        <span> No item selected </span>
      }

      @if (networkHandler.activeNetwork.selectedWrapper) {
        <span
          class="is-capitalized"
          >
          {{
          drugstoneConfig.currentConfig().nodeGroups[
          networkHandler.activeNetwork.selectedWrapper.data[
          networkHandler.activeNetwork.selectedWrapper.data.group ===
          "selectedNode"
          ? "_group"
          : "group"
          ]
          ].groupName
          }}
        </span>
      }

      @if (networkHandler.activeNetwork.activeEdge) {
        <span
          class="is-capitalized"
          >
          {{ networkHandler.activeNetwork.activeEdge.groupName }}
        </span>
      }
    </p>
    <a
      (click)="collapseDetails = !collapseDetails"
      data-action="collapse"
      class="card-header-icon is-hidden-fullscreen"
      aria-label="more options"
      >
      @if (collapseDetails) {
        <app-fa-solid-icon
          icon="angle-down"
        ></app-fa-solid-icon>
      }
      @if (!collapseDetails) {
        <app-fa-solid-icon
          icon="angle-left"
        ></app-fa-solid-icon>
      }
    </a>
  </header>
  @if (collapseDetails) {
    <div>
      <div class="card-content">
        @if (networkHandler.activeNetwork.selectedWrapper) {
          <app-info-tile
            [expressions]="networkHandler.activeNetwork.expressionMap"
            [wrapper]="networkHandler.activeNetwork.selectedWrapper"
          ></app-info-tile>
        }
        @if (networkHandler.activeNetwork.activeEdge) {
          <app-info-tile-edge
            [edge]="networkHandler.activeNetwork.activeEdge"
          ></app-info-tile-edge>
        }
        @if (
          !networkHandler.activeNetwork.selectedWrapper &&
          !networkHandler.activeNetwork.activeEdge
          ) {
          <p
            [ngClass]="{ 'text-normal': drugstoneConfig.smallStyle }"
            >
            Please select a node for further information.
          </p>
        }
      </div>
    </div>
  }
</div>
