<div class="modal" [class.is-active]="show">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Launch Protein Analysis</p>
      <button class="delete" aria-label="close" (click)="close()"></button>
    </header>
    <div class="modal-card-body">
      <div class="tabs">
        <ul>
          <li [class.is-active]="algorithm === 'dummy'"><a (click)="algorithm = 'dummy'">Dummy</a></li>
          <li [class.is-active]="algorithm === 'trustrank'"><a (click)="algorithm = 'trustrank'">Trustrank</a></li>
        </ul>
      </div>
      <div *ngIf="algorithm === 'dummy'">
        NO PARAMS
      </div>
      <div *ngIf="algorithm === 'trustrank'">
        SHOW PARAMETERS HERE LATER
      </div>
    </div>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="startTask(); close()">
        <span class="icon"><i class="fa fa-play"></i></span>
        <span>Start</span>
      </button>
    </footer>
  </div>
</div>
