<div class="logger" [ngClass]="{ 'is-collapsed': collapseLogger }">
  <div class="logger-header">
    <h2 class="logger-title"><b>Logger</b></h2>
    <div style="display: flex; gap: 5px;">
      <a  style="margin-left: auto;"  (click)="logger.clearLogs()" class="card-header-icon">
        <app-fa-solid-icon pTooltip="Clear logs." tooltipPosition="top" [tooltipStyleClass]="'drgstn drgstn-tooltip drgstn-tooltip-top'" icon="trash"></app-fa-solid-icon>
      </a>
      <a  style="margin-left: auto;" (click)="logger.downloadLogs()" class="card-header-icon">
        <app-fa-solid-icon pTooltip="Download logs."  tooltipPosition="top" [tooltipStyleClass]="'drgstn drgstn-tooltip drgstn-tooltip-top'" icon="download"></app-fa-solid-icon>
      </a>
      <a (click)="collapseLog()" class="card-header-icon is-hidden-fullscreen">
        @if (!collapseLogger) {
          <app-fa-solid-icon icon="angle-down"></app-fa-solid-icon>
        }
        @if (collapseLogger) {
          <app-fa-solid-icon icon="angle-left"></app-fa-solid-icon>
        }
      </a>
    </div>
  </div>

  @if (!collapseLogger) {
    <div>
      @if (logger.logs.length) {
        <div class="logs-container" #logsContainer>
          <table class="log-table">
            <tbody>
              @for (log of logger.logs; track $index; let i = $index) {
                <tr class="log-row" [class.has-details]="hasDetails(log.details)">
                  <td style="width: 19%;">{{ log.component }}</td>
                  <td class="message-column">{{ log.message }}</td>
                  <td style="width: 11%;">{{ log.time | date: 'dd.MM.yyyy HH:mm:ss' }}</td>
                  <td class="details-toggle-cell">
                    @if (hasDetails(log.details)) {
                      <button type="button" class="details-toggle-button" (click)="toggleDetails(i, $event)">
                        @if (isExpanded(i)) {
                          <app-fa-solid-icon icon="angle-up"></app-fa-solid-icon>
                        } @else {
                          <app-fa-solid-icon icon="angle-down"></app-fa-solid-icon>
                        }
                      </button>
                    }
                  </td>
                </tr>
                @if (hasDetails(log.details) && isExpanded(i)) {
                  <tr class="details-row">
                    <td colspan="4">
                      <div class="details-container">
                        <div class="details-toolbar">
                          <button type="button" class="button is-small is-light" (click)="copyDetails(log.details, i)">
                            <app-fa-solid-icon icon="copy"></app-fa-solid-icon>
                            {{ copiedLogIndex === i ? 'Copied' : 'Copy' }}
                          </button>
                          <button type="button" class="button is-small is-light" (click)="openDetailsModal(log)">
                            <app-fa-solid-icon icon="expand"></app-fa-solid-icon>
                            Expand
                          </button>
                        </div>
                        <pre class="details-content">{{ formatDetails(log.details) }}</pre>
                      </div>
                    </td>
                  </tr>
                }
              }
              @if (logger.logs.length === 0) {
                <tr>
                  <td colspan="4" class="no-logs">No logs available.</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      } @else {
        <p class="no-logs">No logs available.</p>
      }
    </div>
  }
</div>

<div class="modal logger-modal" [class.is-active]="detailsModalOpen">
  <div class="modal-background" (click)="closeDetailsModal()"></div>
  <div class="modal-card logger-modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        <app-fa-solid-icon icon="list"></app-fa-solid-icon>
        Log details
      </p>
    </header>
    <section class="modal-card-body">
      <p class="details-modal-title">{{ detailsModalTitle }}</p>
      <pre class="details-modal-content">{{ detailsModalContent }}</pre>
    </section>
    <footer class="modal-card-foot logger-modal-footer">
      <button type="button" class="button is-rounded is-light" (click)="copyDetails(detailsModalContent)">
        <app-fa-solid-icon icon="copy"></app-fa-solid-icon>
        {{ modalCopied ? 'Copied' : 'Copy JSON' }}
      </button>
      <button type="button" class="button is-rounded is-danger" (click)="closeDetailsModal()">
        <app-fa-solid-icon icon="times"></app-fa-solid-icon>
        Close
      </button>
    </footer>
  </div>
</div>
