<div class="logger" [ngStyle]="{ 'height': collapseLogger ? '48px' : '300px' }">
  <div class="logger-header">
    <h2 class="logger-title"><b>Logger</b></h2>
    <div style="display: flex; gap: 5px;">
      <a  style="margin-left: auto;"  (click)="logger.clearLogs()" class="card-header-icon">
        <app-fa-solid-icon pTooltip="Clear logs." tooltipPosition="top" [tooltipStyleClass]="'drgstn drgstn-tooltip drgstn-tooltip-top'" icon="trash"></app-fa-solid-icon>
      </a>
      <a  style="margin-left: auto;" (click)="logger.downloadLogs()" class="card-header-icon">
        <app-fa-solid-icon pTooltip="Download logs."  tooltipPosition="top" [tooltipStyleClass]="'drgstn drgstn-tooltip drgstn-tooltip-top'" icon="download"></app-fa-solid-icon>
      </a>
      <a (click)="collapseLog()" class="card-header-icon is-hidden-fullscreen">
        @if (!collapseLogger) {
          <app-fa-solid-icon icon="angle-down"></app-fa-solid-icon>
        }
        @if (collapseLogger) {
          <app-fa-solid-icon icon="angle-left"></app-fa-solid-icon>
        }
      </a>
    </div>
  </div>

  @if (!collapseLogger) {
    <div>
      @if (logger.logs.length) {
        <div class="logs-container" #logsContainer>
          <table class="log-table">
            <tbody>
              @for (log of logger.logs; track log) {
                <tr>
                  <td style="width: 19%;">{{ log.component }}</td>
                  <td class="message-column">{{ log.message }}</td>
                  <td style="width: 11%;">{{ log.time | date: 'dd.MM.yyyy HH:mm:ss' }}</td>
                </tr>
              }
              @if (logger.logs.length === 0) {
                <tr>
                  <td colspan="3" class="no-logs">No logs available.</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      } @else {
        <p class="no-logs">No logs available.</p>
      }
    </div>
  }
</div>