<div class="field has-addons">
  <p class="control has-tooltip">
    <button class="button is-rounded has-tooltip" [attr.data-tooltip]="tooltipOn" [class.is-primary]="value" (click)="toggle(true)">
      <span class="icon is-small">
        <i class="fa {{icon}}"></i>
      </span>
      <span>{{textOn}}</span>
    </button>
  </p>
  <p class="control">
    <button class="button is-rounded has-tooltip" [attr.data-tooltip]="tooltipOff" [class.is-primary]="!value" (click)="toggle(false)">
      <span>{{textOff}}</span>
    </button>
  </p>
</div>
