.drugstone-plugin-link-icon-margin {
    margin: 0 2px;
}
.drugstone-plugin-toggle-container {
    display: flex;
    align-items: center;
}
.drugstone-plugin-toggle-container app-fa-solid-icon {
    margin-left: 20%;
    cursor: pointer;
}
