<div class="card bar-large">
  <header
    class="card-header"
    [ngClass]="{ 'b-text-small': drugstoneConfig.smallStyle }"
  >
    <p class="card-header-title">
      <app-fa-solid-icon icon="flask"></app-fa-solid-icon>
      Quick Drug Search
    </p>
    <a
      (click)="collapseAnalysisQuick = !collapseAnalysisQuick"
      data-action="collapse"
      class="card-header-icon is-hidden-fullscreen"
      aria-label="more options"
    >
      <app-fa-solid-icon
        *ngIf="collapseAnalysisQuick"
        icon="angle-down"
      ></app-fa-solid-icon>
      <app-fa-solid-icon
        *ngIf="!collapseAnalysisQuick"
        icon="angle-left"
      ></app-fa-solid-icon>
    </a>
  </header>
  <div *ngIf="collapseAnalysisQuick">
    <div
      class="card-content quick-find"
      [ngClass]="{ small: drugstoneConfig.smallStyle }"
    >
      <div class="field">
        <div class="control">
          <div style="display: flex; justify-content: center">
            <button
              (click)="runQuickAnalysis(true, 'super')"
              [disabled]="analysis.isLaunchingQuick()"
              [ngClass]="{
                'text-small': drugstoneConfig.smallStyle
              }"
              class="button is-primary is-rounded has-tooltip quick-start-btn is-fullwidth"
              pTooltip="Find drugs for all proteins."
              [tooltipStyleClass]="'drgstn drgstn-tooltip drgstn-tooltip-top'"
              tooltipPosition="top"
            >
            <app-fa-solid-icon *ngIf="!analysis.isLaunchingQuick()" classString="quick-icon" icon="capsules"></app-fa-solid-icon>
            <app-fa-solid-icon *ngIf="analysis.isLaunchingQuick()" classString="quick-icon" icon="spinner"></app-fa-solid-icon>
              <span
                [ngClass]="{
                  'text-normal': drugstoneConfig.smallStyle
                }"
              >
                Drugs for all proteins
              </span>
            </button>
          </div>
          <div
            style="display: flex; justify-content: center"
            class="is-fullwidth"
          >
            <div class="divisor-rapid">&mdash; or &mdash;</div>
          </div>

          <div style="display: flex; justify-content: center">
            <button
              (click)="runQuickAnalysis(false, 'quick')"
              [disabled]="
                analysis.getCount() === 0 || analysis.isLaunchingQuick()
              "
              [ngClass]="{
                'text-small': drugstoneConfig.smallStyle
              }"
              class="button is-primary is-rounded has-tooltip quick-start-btn drugs-btn is-fullwidth"
              pTooltip="Find drugs for the selected proteins."
              [tooltipStyleClass]="'drgstn drgstn-tooltip drgstn-tooltip-top'"
              tooltipPosition="top"
            >
            <app-fa-solid-icon *ngIf="!analysis.isLaunchingQuick()" classString="quick-icon" icon="capsules"></app-fa-solid-icon>
            <app-fa-solid-icon *ngIf="analysis.isLaunchingQuick()" classString="quick-icon" icon="spinner"></app-fa-solid-icon>
              <span
                [ngClass]="{
                  'text-normal': drugstoneConfig.smallStyle
                }"
              >
                Drugs for selected proteins
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
