<div class="card network" [ngClass]="{ fullscreen: fullscreen }">
  <header class="card-header network-header" *ngIf="networkType === 'explorer'">
    <p class="card-header-title">
      {{ drugstoneConfig.config.title }}
    </p>
    <span class="mr-1 is-pulled-right columns is-flex is-vcentered">
      <button
        pTooltip="open in fullscreen"
        [tooltipStyleClass]="'drgstn drgstn-tooltip drgstn-tooltip-left'"
        tooltipPosition="left"
        *ngIf="!fullscreen"
        (click)="toggleFullscreen()"
        class="button is-primary is-rounded is-small is-outlined"
      >
        <app-fa-solid-icon icon="expand" classString="only-item-in-button"></app-fa-solid-icon>
    </button>
      <button
        title="close fullscreen"
        *ngIf="fullscreen"
        (click)="toggleFullscreen()"
        class="button is-primary is-rounded is-small is-outlined"
      >
        <app-fa-solid-icon icon="compress" classString="only-item-in-button"></app-fa-solid-icon>
      </button>
    </span>
  </header>
  <div
    class="card-content network-view-settings"
    [class.analysis]="networkType === 'analysis'"
  >
    <div class="card-image canvas-content" #networkWithLegend>
      <div *ngIf="drugstoneConfig.config.showLegend">
        <app-network-legend
          [config]="drugstoneConfig.config"
        ></app-network-legend>
      </div>
      <div class="center image1 fullheight" #network>
        <button class="button is-loading center" alt="loading...">
          Loading
        </button>
      </div>
    </div>

    <app-network-menu
      *ngIf="
        drugstoneConfig.config.showNetworkMenu &&
        drugstoneConfig.config.showNetworkMenu === 'right'
      "
    ></app-network-menu>

    <app-network-menu-left
      *ngIf="
        drugstoneConfig.config.showNetworkMenu &&
        drugstoneConfig.config.showNetworkMenu === 'left'
      "
    ></app-network-menu-left>
  </div>
</div>
