<div class="content">
  <div
    class="list is-hoverable"
    [ngClass]="{ 'text-normal': drugstoneConfig.smallStyle }"
  >
    <a
      *ngFor="let task of analysis.viewInfos"
      class="list-item box small-box"
      [class.is-active]="task.token === token"
    >
      <div
        *ngIf="task"
      >
        <div class="columns mb-0" (click)="open(task.token)" pTooltip="Show selection view"
             [tooltipStyleClass]="'drgstn drgstn-tooltip drgstn-tooltip-top'"
             tooltipPosition="top">
          <div class="column is-8">
            <span class="is-capitalized"
            ><app-fa-solid-icon
              icon="crosshairs"
            ></app-fa-solid-icon>
              Manual selection</span
            >
          </div>
        </div>
        <div class="columns mb-0">
          <div class="column is-8 pt-0 pb-0">
            <small>Created {{ task.createdAt | date: "short" }}</small>
          </div>
          <div class="column pt-0 pb-0">
            <a
              (click)="analysis.removeView(task.token)"
              class="has-text-danger is-pulled-right"
              pTooltip="Delete view"
              [tooltipStyleClass]="'drgstn drgstn-tooltip drgstn-tooltip-top'"
              tooltipPosition="top"
            >
              <app-fa-solid-icon icon="trash"></app-fa-solid-icon>
            </a>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
