@charset "utf-8";
.tab-content {
  visibility: hidden;
  position: absolute;
  width: calc(100% - 50px);
  height: calc(100% - 41px - 67px - 24px);

  &.is-visible {
    visibility: visible;
  }

  &.scrollable {
    overflow-y: auto;
    padding-right: 10px;
  }

  h4 {
    margin-top: 60px;
  }
}

.table-header {
  margin-bottom: 50px;
}

.checkbox-col {
  width: 50px;
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

td {
  padding: 0.2rem 1rem 0.2rem 1rem !important;
  vertical-align: middle !important;
}

th.rank-column {
    width: 75px;
  }

td.rank-column {
  text-align: right !important;
  padding-right: 35px !important;
}


