<p-table
  *ngIf="tableProteins.length > 0"
  selectionMode="multiple"
  [value]="tableProteins"
  [selection]="tableSelectedProteins"
  dataKey="uniprot"
  (selectionChange)="tableProteinSelection($event)"
  styleClass="table is-hoverable is-narrow drgstn"
>
  <ng-template pTemplate="header">
    <tr>
      <th class="checkbox-col">
        <p-tableHeaderCheckbox class="drgstn"></p-tableHeaderCheckbox>
      </th>
      <th *ngIf="tableHasScores" [pSortableColumn]="'rank'" class="rank-column">
        Rank
        <p-sortIcon [field]="'rank'"></p-sortIcon>
      </th>
      <th *ngIf="identifier === 'symbol'" [pSortableColumn]="'symbol'">
        Symbol
        <p-sortIcon [field]="'symbol'"></p-sortIcon>
      </th>
      <th *ngIf="identifier === 'uniprot'" [pSortableColumn]="'uniprot'">
        UniProt Code
        <p-sortIcon [field]="'uniprot'"></p-sortIcon>
      </th>
      <th *ngIf="identifier === 'entrez'" [pSortableColumn]="'entrez'">
        Entrez
        <p-sortIcon [field]="'entrez'"></p-sortIcon>
      </th>
      <th *ngIf="identifier === 'ensg'" [pSortableColumn]="'ensg'">
        Ensembl GeneID
        <p-sortIcon [field]="'ensg'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'label'">
        Label
        <p-sortIcon [field]="'label'"></p-sortIcon>
      <th [pSortableColumn]="'proteinName'">
        Name
        <p-sortIcon [field]="'proteinName'"></p-sortIcon>
      </th>
      <th *ngIf="partition" [pSortableColumn]="'cluster'">
        Cluster
        <span class="question-icon has-text-info has-tooltip tooltip-button">
        </span>
        <p-sortIcon [field]="'cluster'"></p-sortIcon>
      </th>
      <th *ngIf="tableHasScores" [pSortableColumn]="'score'">
        Score
        <span
          class="question-icon has-text-info has-tooltip tooltip-button"
          [pTooltip]="tableProteinScoreTooltip"
          [tooltipStyleClass]="'drgstn drgstn-tooltip drgstn-tooltip-top'"
          tooltipPosition="top"
        >
          <app-fa-solid-icon
            classString="icon"
            icon="question-circle"
          ></app-fa-solid-icon>
        </span>
        <p-sortIcon [field]="'score'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'layer'">
        Cellular Component
        <p-sortIcon [field]="'layer'"></p-sortIcon>
      </th>
      <th *ngIf="hasPathwayEnrichmentScore()" [pSortableColumn]="'properties.score'">
        Pathway Score
        <p-sortIcon [field]="'properties.score'"></p-sortIcon>
      </th>
      <th *ngIf="hasPathwayEnrichmentRank()" [pSortableColumn]="'properties.rank'">
        Pathway Rank
        <p-sortIcon [field]="'properties.rank'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'isSeed'">
        Seed
        <p-sortIcon [field]="'isSeed'"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-e>
    <tr>
      <td>
        <p-tableCheckbox [value]="e" class="drgstn"></p-tableCheckbox>
      </td>
      <td *ngIf="tableHasScores" class="rank-column">{{ e.rank}}</td>
      <td *ngIf="identifier === 'symbol'">
        <a
          *ngFor="let symbol of e.symbol; index as i"
          href="https://www.genecards.org/cgi-bin/carddisp.pl?gene={{ symbol }}"
          target="_blank"
          >{{ symbol + (i == e.symbol.length - 1 ? "" : ", ") }}</a
        >
      </td>
      <td *ngIf="identifier === 'uniprot'">
        <a
          *ngFor="let uniprot of e.uniprot; index as i"
          href="https://www.uniprot.org/uniprot/{{ uniprot }}"
          target="_blank"
          >{{ uniprot + (i == e.uniprot.length - 1 ? "" : ", ") }}</a
        >
      </td>
      <td *ngIf="identifier === 'entrez'">
        <a
          *ngFor="let entrez of e.entrez; index as i"
          href="https://www.ncbi.nlm.nih.gov/gene/{{ entrez }}"
          target="_blank"
          >{{ entrez + (i == e.entrez.length - 1 ? "" : ", ") }}</a
        >
      </td>
      <td *ngIf="identifier === 'ensg'">
        <a
          *ngFor="let ensg of e.ensg; index as i"
          href="https://www.ensembl.org/Homo_sapiens/Gene/Summary?g={{ ensg }}"
          target="_blank"
          >{{ ensg + (i == e.ensg.length - 1 ? "" : ", ") }}</a
        >
      </td>
      <td>{{ e.label }}</td>
      <td>{{ e.proteinName }}</td>
      <td *ngIf="partition">{{ e.cluster }}</td>
      <td *ngIf="tableHasScores">{{ formatNumber(e.score)}}</td>
      <td [ngClass]="{'text-light-gray': e.layer === 'Unknown' || e.layer === 'Other'}">
        {{ e.layer }}
      </td>
      <td *ngIf="hasPathwayEnrichmentScore()">{{ formatNumber(e.properties.score)}}</td>
      <td *ngIf="hasPathwayEnrichmentRank()">{{ e.properties.rank}}</td>
      <td>
        <span *ngIf="e.isSeed">
          <app-fa-solid-icon
            classString="icon has-text-success"
            icon="check"
          ></app-fa-solid-icon>
          Seed
        </span>
        <span *ngIf="!e.isSeed">
          <app-fa-solid-icon
            classString="icon has-text-danger"
            icon="times"
          ></app-fa-solid-icon>
        </span>
      </td>
    </tr>
  </ng-template>
</p-table>
