@import "src/stylesheets/variables";
.drugstone-plugin-loading-screen {
  position: absolute;
  z-index: $loading-overlay-z;
  height: 100%;
  width: 100%;
  background: rgba(6, 6, 6, 0.3);
  &-inner {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    &-text {
      color: white;
      font-size: 24px;
    }
  }
  &-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
  }
}
.drugstone-plugin-pulse {
    animation: pulse 5s infinite;
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
    }
    50% { -webkit-transform: scale(1.3); }
    100% { -webkit-transform: scale(1); }
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
  }
