<div class="content">
  <ng-select [items]="queryItems" bindLabel="id" bindValue="data" [virtualScroll]="true" class="custom"
             placeholder="Search..." [hideSelected]="true" [searchFn]="querySearch" (change)="select($event)" data-tooltip="Find proteins in the network.">
    <ng-template ng-option-tmp let-item="item">
      <b *ngIf="item.type == 'protein'"> {{item.data.name}}</b>
      <span><small *ngIf="item.type === 'protein'">Host Protein</small> | </span>
      <span *ngIf="item.type == 'protein'"><small>AC: <b>{{item.data.proteinAc}}</b></small> </span>
    </ng-template>
  </ng-select>
</div>
