<div class="modal" [class.is-active]="show">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <app-fa-solid-icon icon="capsules"></app-fa-solid-icon>
                Upload Network
            </p>
        </header>

        <section class="modal-card-body">
            <div class="field">
                <label class="label">Upload Network File</label>
                <div class="control">
                    <input type="file" #networkFileInput (change)="onFileSelected($event)"
                        accept=".csv, .sif, .graphml, .gt" id="network-file-input" class="input"
                        pTooltip="Supported formats: .csv, .sif, .graphml, .gt (with node property 'name')."
                        [tooltipStyleClass]="'drgstn drgstn-tooltip drgstn-tooltip-top'" tooltipPosition="top" />
                </div>
            </div>

            <div class="field">
                <label class="label">ID-Space</label>
                <div class="control">
                    <div class="select">
                        <select [(ngModel)]="selectedIdSpace" pTooltip="Select the ID-Space for the network."
                            [tooltipStyleClass]="'drgstn drgstn-tooltip drgstn-tooltip-top'" tooltipPosition="top">
                            <option *ngFor="let space of idSpaces" [value]="space">{{ space }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>

        <footer class="modal-card-foot">
            <button (click)="launchUpload()" class="button is-success is-rounded has-tooltip"
                pTooltip="Upload the selected network file and selectthe idspace."
                [tooltipStyleClass]="'drgstn drgstn-tooltip drgstn-tooltip-top'" tooltipPosition="top" [disabled]="!(selectedFile && selectedIdSpace)">
                <app-fa-solid-icon icon="rocket"></app-fa-solid-icon>
                <span> Launch </span>
            </button>
            <button (click)="close()" class="button is-rounded has-tooltip" pTooltip="Close the current window."
                [tooltipStyleClass]="'drgstn drgstn-tooltip drgstn-tooltip-top'" tooltipPosition="top">
                Close
            </button>
        </footer>
    </div>
</div>