
.analysis {
  position: absolute;
  height: 100%;
  width: 100%;
}

div.network {
  height: calc(100vh - 210px - 52px);
}

.tab-content {
  visibility: hidden;
  position: absolute;
  width: calc(100% - 50px);
  height: calc(100% - 41px - 67px - 48px);

  &.is-visible {
    visibility: visible;
  }

  &.scrollable {
    overflow-y: auto;
    padding-right: 10px;
  }

  h4 {
    margin-top: 60px;
  }
}

.table-header {
  margin-bottom: 50px;
}

.checkbox-col {
  width: 50px;
}

.meta {
  table {
    width: 500px;

    td {
      width: 50px;
    }
  }

}

.tooltip-button {
  font-size: 10px;
  width: 10px;
}

.text-small {
  font-size: 11px;
}

.text-normal{
  font-size:12px;
}

.b-text-small{
  font-size:14px
}

.b-text-smaller{
  font-size:12px
}

.button-small{
  padding: 3px 10px 3px 10px;
}
.scroll-y{
  overflow-y: auto;
}
