@import "src/stylesheets/variables";

.analysis {
  position: absolute !important;
  height: 100% !important;
  width: 100% !important;
}

.tab-header-small {
  padding: 0 !important;
}

.network-view-settings {
  // remove margin from tab header when network is displayed, so that network
  // does not disappear in empty border
  padding-left: 0 !important;
  padding-right: 0 !important;
  .tabs {
    margin: 0;
  }
  .tab-content {
    width: 100%;
    height: calc(100% - #{$network-header-height} - #{$analysis-tab-header-height});
  }
}

.tabs-header {
  height: $analysis-tab-header-height;
}

.tab-content {
  visibility: hidden;
  position: absolute;
  &.is-visible {
    visibility: visible;
  }
  &.scrollable {
    overflow-y: auto;
    padding-right: 10px;
  }
  &.table-tab {
    // 100% - #{$network-header-height} - #{$analysis-tab-header-height} - normalization-button
    height: calc(100% - 40px - 1.5rem - 72px - 6px);
  }

  h4 {
    margin-top: 60px;
  }
}

.checkbox-col {
  width: 50px;
}

.meta {
  table {
    width: 500px;
    td {
      width: 50px;
    }
  }

}

.tooltip-button {
  font-size: 10px;
  width: 10px;
}

.scroll-y{
  overflow-y: auto;
}

.legend {
  z-index: $analysis-network-legend-z !important;
}
