.drugstone-plugin-absolute {
    position: absolute !important;
}
.drugstone-plugin-is-text-align-justify {
  text-align: justify
}
.drugstone-plugin-modal-card {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
