<div
  class="modal absolute"
  [class.is-active]="license && drugstoneConfig.showLicense"
>
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        <app-fa-solid-icon icon="key"></app-fa-solid-icon>
        Data License Agreement
      </p>
    </header>
    <section class="modal-card-body">
      <div class="is-text-align-justify" style="margin-bottom: 16px">
        <i
          >For the use of licensed data of sources like DrugBank and OMIM,
          partially provided by the NeDRex database, the terms of use for data
          of the NeDRex platform have to be accepted:</i
        >
      </div>
      <div [innerHTML]="license" class="is-text-align-justify"></div>
    </section>
    <footer class="modal-card-foot">
      <button
        (click)="close()"
        class="button is-rounded has-tooltip is-success"
        pTooltip="Close."
        [tooltipStyleClass]="'drgstn drgstn-tooltip drgstn-tooltip-top'"
        tooltipPosition="top"
      >
        Close
      </button>
    </footer>
  </div>
</div>
