<div

class="drugstone-plugin-modal drugstone-plugin-absolute"

[class.drugstone-plugin-is-active]="license && drugstoneConfig.showLicense"

>

<div class="drugstone-plugin-modal-background"></div>

<div class="drugstone-plugin-modal-card">

<header class="drugstone-plugin-modal-card-head">

<p class="drugstone-plugin-modal-card-title">

<app-fa-solid-icon icon="key"></app-fa-solid-icon>

Data License Agreement

</p>

</header>

<section class="drugstone-plugin-modal-card-body">

<div class="drugstone-plugin-is-text-align-justify" style="margin-bottom: 16px">

<i

>For the use of licensed data of sources like DrugBank and OMIM,

partially provided by the NeDRex database, the terms of use for data

of the NeDRex platform have to be accepted:</i

>

</div>

<div [innerHTML]="license" class="drugstone-plugin-is-text-align-justify"></div>

</section>

<footer class="drugstone-plugin-modal-card-foot">

<button

(click)="close()"

class="drugstone-plugin-button drugstone-plugin-is-rounded drugstone-plugin-has-tooltip drugstone-plugin-is-success"

pTooltip="Close."

[tooltipStyleClass]="'drugstone-plugin-drgstn drugstone-plugin-drgstn-tooltip drugstone-plugin-drgstn-tooltip-top'"

tooltipPosition="top"

>

Close

</button>

</footer>

</div>

</div>


