#drugstone-plugin-appWindow {
  @import "../../node_modules/bulma/bulma";
  $dropdown-content-radius: 20px;
  margin: 0;
  font-family: var(--drgstn-font-family);
  p {
    margin-bottom: .4rem;
  }
  .drugstone-plugin-card-content.drugstone-plugin-explorer-network-view-settings {
    padding: 0 !important;
  }
  .drugstone-plugin-delete, .drugstone-plugin-modal-close {
    padding: 0 !important;
  }
  hr {
    margin-top: .25rem;
    margin-bottom: .25rem;
  }
  button {
    height: auto !important;
  }
  .drugstone-plugin-box {
    padding: .5rem !important;
    margin-bottom: .5rem !important;
  }
}
