// media queries
$screen-lg: 1400px;

$row-data-selector-height: auto;
$network-header-height: 3rem;
$network-footer-height: 0rem;
$network-footer-width: 15rem;
$network-footer-right-closed: -12rem;
$network-footer-container-z: 20;

$network-footer-inner-container-height: 25rem;
$network-footer-space-button-to-border: 0.5rem;

$explorer-network-z: 10;
$explorer-networklegend-z: 20;
$explorer-networklegend-foreground-z: 21;
$explorer-network-toolbar-dropdown-z: 20;

$analysis-view-z: 30;
$analysis-network-z: 40;
$analysis-network-legend-z: 40;
$analysis-network-toolbar-dropdown-z: 50;


$analysis-tab-header-height: 2.5rem;
$analysis-tab-header-padding: 1.5rem;

// Settings Legend
$legend-default-background-color: #143d1f;
$legend-row-height: 35px;
$legend-circle-size: $legend-row-height;
$legend-circle-line-height: 28px; // for '...' in middle of circle
$legend-star-size: 20px;
$legend-square-width: $legend-row-height;
$legend-edge-width: 20px;
$legend-edge-height: 3px;
$legend-star-color: #FC0;
$legend-triangle-size: $legend-row-height;
$legend-triangle-height: 29px;
$legend-hexagon-font-size: 38px;
$legend-diamond-size: 25px;

$height: 100%;

$sidebar-width: 25%;
$sidebar-min-width: 240px;

// settings for different screen sizes
$b-text-small-font-size: 14px;
$b-text-smaller-font-size: 12px;
$text-normal-font-size: 12px;
$text-small-font-size: 11px;

$button-small-padding: 3px 10px 3px 10px;

