<div class="drugstone-plugin-field" *ngIf="!drugstoneConfig.config.showAdvAnalysisContent || !hidden">

<div class="drugstone-plugin-control">

<a

*ngIf="enabled"

(click)="callback()"

target="_blank"

[ngClass]="{ 'drugstone-plugin-text-small': drugstoneConfig.smallStyle }"

class="drugstone-plugin-button drugstone-plugin-is-primary drugstone-plugin-is-fullwidth drugstone-plugin-is-rounded drugstone-plugin-has-tooltip"

[pTooltip]="tooltipEnabled"

[tooltipStyleClass]=" 'drugstone-plugin-drgstn drugstone-plugin-drgstn-tooltip drugstone-plugin-drgstn-tooltip-top' "       tooltipPosition="top"

>

<app-fa-solid-icon

classString="drugstone-plugin-first-item-in-button"

icon="external-link-alt"

></app-fa-solid-icon>

<span

[ngClass]="{ 'drugstone-plugin-text-small': drugstoneConfig.smallStyle }"

>

{{label}}

</span>

</a>

<a

*ngIf="!enabled"

disabled

[ngClass]="{ 'drugstone-plugin-text-small': drugstoneConfig.smallStyle }"

class="drugstone-plugin-button drugstone-plugin-is-primary drugstone-plugin-is-fullwidth drugstone-plugin-is-rounded drugstone-plugin-has-tooltip"

[pTooltip]="tooltipDisabled"

[tooltipStyleClass]=" 'drugstone-plugin-drgstn drugstone-plugin-drgstn-tooltip drugstone-plugin-drgstn-tooltip-top' "       tooltipPosition="top"

>

<app-fa-solid-icon

icon="external-link-alt"

classString="drugstone-plugin-first-item-in-button"

></app-fa-solid-icon>

<span

[ngClass]="{ 'drugstone-plugin-text-small': drugstoneConfig.smallStyle }"

>

{{label}}

</span>

</a>

</div>

</div>


