@import "src/stylesheets/variables";

.dropdown-menu {
  z-index: $menu-z-index !important;
}

.dropdown-menu.inner-dropdown {
  margin-left: 105px;
  width: 150px;
  margin-top: -45px;

  .dropdown-content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    .dropdown-item {
      padding: .375rem !important;
    }
  }
}

.dropdown-menu.inner-dropdown.small-border {
  margin-left: 75px;
}
