<div class="scroll">
  <div class="content">
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">About CoVex</h1>
        </div>
      </div>
    </section>

    <div class="hero container">
      <div class="column is-8 is-offset-2">
        <div class="container has-text-centered">
          <img src="assets/covex_logo.png">
          <h2 class="subtitle is-3"> A Coronavirus Explorer </h2>
        </div>
        <div class="content">
          <p>
            <br>
            CoVex (Coronavirus Explorer) is a unique online network and systems medicine platform for data analysis that
            integrates virus-human interactions for SARS-CoV-2 and SARS-CoV-1. It implements different network-based
            approaches for the identification of new drug targets and new repurposable drugs.
            <br>
            <br>
            For detailed information please visit our blog: <a href="https://www.exbio.de/exbio-vs-covid-part-1/"> https://www.exbio.de/exbio-vs-covid-part-1/</a>
             <br>
             <br>
            We are constantly updating and integrating new data as it becomes available.
             <br>
            If you are interested to make your virus-human interactome data available via our platform, please contact us.
          </p>
          <h2 class="subtitle">General workflow of the platform</h2>
          <ol>
            <li>Select the viral interaction dataset (SARS-CoV1-Pfefferle, SARS-CoV1-VirHostNet, SARS-CoV2-Gordon).</li>
            <li>Select proteins of interest as seed proteins.</li>
            <li>Perform network analysis (multi-Steiner, TrustRank, KeyPathwayMiner, closeness centrality).</li>
            <li>Platform usage: basic and advanced options</li>
            <li>Inspect the resulting subnetworks.</li>
            <li>Find drugs associated with the subnetwork (TrustRank, closeness centrality).</li>
            <li>Download your results.</li>
          </ol>
          <p>CoVex also provides a quick analysis option to perform steps 3 to 5 (starting from the seed proteins) to
            return
            a list of drugs ranked by default using TrustRank.</p>
          <h2>Help/Contact information</h2>
          <ul>
            <li>General support and inquiries: CoVex dev team (covex_AT_wzw.tum.de)</li>
            <li>Systems and network medicine: Sepideh Sadegh (sadegh_AT_wzw.tum.de)</li>
            <li>Web platform: Julian Matschinske (julian.matschinske_AT_wzw.tum.de)</li>
            <li>Project coordination: Prof. Dr. Jan Baumbach (jan.baumbach_AT_wzw.tum.de)</li>
            <li>Lab website: <a href="http://www.exbio.de">http://www.exbio.de</a> </li>
          </ul>

          <br>
          <br>

          <div class="has-text-centered">
            <h2 class="subtitle"> Impressum</h2>
            <p>Prof. Dr. Jan Baumbach
              Chair of Experimental Bioinformatics
              <br>
              <i class="fa fa-phone"></i> Phone: +49-8161-71-2136<br>
              <i class="fa fa-phone"></i> Fax: +49-8161-71-2186<br>
              <i class="fa fa-envelope"> </i> Email: exbio_AT_wzw.tum.de<br>
              <i class="fa fa-map-marker"></i> Address: ​​​Prof. Dr. Jan Baumbach
              <br>
              Chair of Experimental Bioinformatics
              <br>
              TUM School of Life Sciences Weihenstephan
              <br>
              Technical University of Munich<br>
              Maximus-von-Imhof-Forum 3<br>
              85354 Freising<br>
              Germany </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



