<button
  class="button is-rounded has-tooltip"
  [pTooltip]="tooltip"
  [tooltipStyleClass]="'drgstn drgstn-tooltip drgstn-tooltip-left'"
  tooltipPosition="left"
  [disabled]="disabled"
  (click)="toggle()"
  [ngClass]="{
    'is-selected': value,
    'is-small': drugstoneConfig.smallStyle
  }"
  >
  @if (icon) {
    <app-fa-solid-icon
      [icon]="icon"
      classString="is-small"
    ></app-fa-solid-icon>
  }

  <span [ngClass]="{ 'text-small': drugstoneConfig.smallStyle }">{{
    text
  }}</span>

  @if (useValue && value) {
    <app-fa-solid-icon
      [icon]="iconOn"
      classString="is-small last-item-in-button has-text-success"
    ></app-fa-solid-icon>
  }
  @if (useValue && !value) {
    <app-fa-solid-icon
      [icon]="iconOff"
      classString="is-small last-item-in-button has-text-danger"
    ></app-fa-solid-icon>
  }
</button>
