.modal-card {
  height: 800px;
  max-height: 80vh;
}

.modal-card-body {
  padding-left: 40px;
  padding-right: 40px;
}

.warning {
  margin-bottom: 15px;
}

.has-text-info.info {
  margin-bottom: 20px;

  .icon {
    background-color: blue;
  }
}

.doc-link {
  margin-top: 15px;
  font-size: 11px;
}

div.is-active {
  background-color: var(--drgstn-primary);
}
