.drugstone-plugin-modal-card {
  height: 500px;
}
.drugstone-plugin-modal-card-body {
  padding-left: 40px;
  padding-right: 40px;
}
.drugstone-plugin-warning {
  margin-bottom: 15px;
}
.drugstone-plugin-has-text-info.drugstone-plugin-info {
  margin-bottom: 20px;
  .drugstone-plugin-icon {
    background-color: blue;
  }
}
.drugstone-plugin-doc-link {
  margin-top: 15px;
  font-size: 11px;
}
