<div class="modal" [class.is-active]="show">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title" *ngIf="target === 'drug'">
        <app-fa-solid-icon icon="capsules"></app-fa-solid-icon>
        Find Drugs
      </p>
      <p class="modal-card-title" *ngIf="target === 'drug-target'">
        <app-fa-solid-icon icon="crosshairs"></app-fa-solid-icon>
        Find Drug Targets
      </p>
      <p class="modal-card-title" *ngIf="target === 'gene'">
        <app-fa-solid-icon icon="capsules"></app-fa-solid-icon>
        Pathway enrichment
      </p>
      <button (click)="close()" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div *ngIf="!analysis.canLaunchTask()">
        <div class="notification is-warning warning">
          You can only run {{ maxTasks }} tasks at once. Please wait for one of
          them to finish or delete it from the task list.
        </div>
      </div>

      <div class="columns">
        <div class="column is-one-quarter">
          <div class="tabs vertical is-toggle is-small is-rounded has-tooltip">
            <div>
              <div
                [class.is-active]="algorithm === algo.slug"
                *ngFor="let algo of algorithms"
                class="is-fullwidth algorithm-button"
              >
                <a (click)="algorithm = algo.slug" class="is-boxed is-medium">
                  {{ algo.name }}
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="column">

          <div *ngIf="algorithm === 'pathway-enrichment'">
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <app-fa-solid-icon icon="info"></app-fa-solid-icon>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h6 class="is-6">About Pathway Enrichment</h6>
                    <p>
                      Pathway enrichment analysis is a method to identify pathways overrepresented in a list of genes or proteins. 
                      It is recommended to select all nodes of the graph.
                    </p>
                  </div>
                </div>
              </article>
            </div>

            <!--Parameters for pathway enrichment-->
            <div class="field">
              <label class="label" for="pathway-enrichment-alpha">Cutoff for adjusted p-value</label>
              <div class="control">
                <input
                  [(ngModel)]="alpha"
                  id="pathway-enrichment-alpha"
                  class="input"
                  type="number"
                  placeholder="Cutoff for adjusted p-value."
                  required
                />
              </div>
            </div>
             <div class="field">
              <label class="label" for="pathway-enrichment-geneset">Genesets to consider in pathway enrichment</label>
              <div class="control">
                <div *ngFor="let option of pathways">
                <label>
                  <input type="checkbox" [(ngModel)]="option.selected">
                  {{ option.label }}
                 </label>
                </div>
              </div>
            </div>


          </div>

          <div *ngIf="algorithm === 'trustrank'">
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <app-fa-solid-icon icon="info"></app-fa-solid-icon>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h6 class="is-6">About TrustRank</h6>
                    <p>
                      TrustRank is a node centrality measure that ranks nodes in
                      a network based on how well they are connected to a
                      (trusted) set of seed nodes.
                    </p>
                  </div>
                </div>
              </article>
            </div>

            <div class="field">
              <label class="label" for="trustrank-rs">Result Size</label>
              <div class="control">
                <input
                  [(ngModel)]="trustrankResultSize"
                  id="trustrank-rs"
                  class="input"
                  type="number"
                  placeholder="Result size"
                  required
                />
              </div>
            </div>

            <div class="field" *ngIf="target === 'drug'">
              <label class="label">Indirect Drugs</label>
              <app-toggle
                textOn="Include"
                textOff="Ignore"
                tooltipOn="Include indirect drugs."
                tooltipOff="Exclude indirect drugs from the result."
                [(value)]="trustrankIncludeIndirectDrugs"
              >
              </app-toggle>
              <p class="has-text-info is-size-7">
                Specifies whether also drugs targeting interactors of the seed
                nodes should be considered.
              </p>
            </div>

            <div class="field" *ngIf="target === 'drug'">
              <label class="label">Non-approved Drugs</label>
              <app-toggle
                textOn="Include"
                textOff="Ignore"
                tooltipOn="Include non-approved drugs."
                tooltipOff="Exclude non-approved drugs from the result."
                [(value)]="trustrankIncludeNonApprovedDrugs"
              >
              </app-toggle>
            </div>

            <div class="field">
              <label class="label" for="trustrank-df">Damping Factor</label>
              <div class="control">
                <input
                  [(ngModel)]="trustrankDampingFactor"
                  id="trustrank-df"
                  class="input"
                  type="number"
                  placeholder="Damping factor"
                  min="0"
                  max="1"
                  required
                />
              </div>
              <p class="has-text-info is-size-7">
                The larger the damping factor, the faster the trust is
                propagated through the network.
              </p>
            </div>

            <div class="field">
              <label class="label" for="trustrank-md">Maximum degree</label>
              <div class="control">
                <input
                  [(ngModel)]="trustrankMaxDeg"
                  id="trustrank-md"
                  class="input"
                  type="number"
                  placeholder="Maximum degree"
                  min="0"
                  max="1"
                  required
                />
              </div>
              <p class="has-text-info is-size-7">
                All nodes with degree greater than this value will be ignored.
                Disabled if equal to 0.
              </p>
            </div>

            <div class="field">
              <label class="label" for="trustrank-hp">Hub penalty</label>
              <div class="control">
                <input
                  [(ngModel)]="trustrankHubPenalty"
                  id="trustrank-hp"
                  class="input"
                  type="number"
                  placeholder="Maximum degree"
                  min="0"
                  max="1"
                  required
                />
              </div>
              <p class="has-text-info is-size-7">Penalty parameter for hubs.</p>
            </div>

            <div
              class="field"
              *ngIf="drugstoneConfig.config.customEdges.selectable"
            >
              <label class="label">Include all displayed edges</label>
              <app-toggle
                textOn="Include"
                textOff="Ignore"
                tooltipOn="Use all edges from the visualized network and the Drugst.One database."
                tooltipOff="Use only Drugst.One edges."
                [(value)]="trustrankCustomEdges"
              >
              </app-toggle>
              <p class="has-text-info is-size-7">
                Include PPI edges from displayed network in the algorithms or
                use only edges from the Drugst.One database.
              </p>
            </div>
          </div>

          <div *ngIf="algorithm === 'closeness'">
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <app-fa-solid-icon icon="info"></app-fa-solid-icon>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h6 class="is-6">About Harmonic Centrality</h6>
                    <p>
                      Harmonic Centrality is a node centrality measure that
                      ranks the nodes in a network based on the lengths of their
                      shortest paths to all other nodes in the network.
                    </p>
                  </div>
                </div>
              </article>
            </div>

            <div class="field">
              <label class="label" for="closeness-rs">Result Size</label>
              <div class="control">
                <input
                  [(ngModel)]="closenessResultSize"
                  id="closeness-rs"
                  class="input"
                  type="number"
                  placeholder="Result size"
                  required
                />
              </div>
            </div>

            <div class="field" *ngIf="target === 'drug'">
              <label class="label">Indirect Drugs</label>
              <app-toggle
                textOn="Include"
                textOff="Ignore"
                tooltipOn="Include indirect drugs."
                tooltipOff="Exclude indirect drugs from the result."
                [(value)]="closenessIncludeIndirectDrugs"
              >
              </app-toggle>
              <p class="has-text-info is-size-7">
                Specifies whether also drugs targeting interactors of the seed
                nodes should be considered.
              </p>
            </div>

            <div class="field" *ngIf="target === 'drug'">
              <label class="label">Non-approved Drugs</label>
              <app-toggle
                textOn="Include"
                textOff="Ignore"
                tooltipOn="Include non-approved drugs."
                tooltipOff="Exclude non-approved drugs from the result."
                [(value)]="closenessIncludeNonApprovedDrugs"
              >
              </app-toggle>
            </div>

            <div class="field">
              <label class="label" for="closeness-md">Maximum degree</label>
              <div class="control">
                <input
                  [(ngModel)]="closenessMaxDeg"
                  id="closeness-md"
                  class="input"
                  type="number"
                  placeholder="Maximum degree"
                  min="0"
                  max="1"
                  required
                />
              </div>
              <p class="has-text-info is-size-7">
                All nodes with degree greater than this value will be ignored.
                Disabled if equal to 0.
              </p>
            </div>

            <div class="field">
              <label class="label" for="closeness-hp">Hub penalty</label>
              <div class="control">
                <input
                  [(ngModel)]="closenessHubPenalty"
                  id="closeness-hp"
                  class="input"
                  type="number"
                  placeholder="Maximum degree"
                  min="0"
                  max="1"
                  required
                />
              </div>
              <p class="has-text-info is-size-7">Penalty parameter for hubs.</p>
            </div>

            <div
              class="field"
              *ngIf="drugstoneConfig.config.customEdges.selectable"
            >
              <label class="label">Include all displayed edges</label>
              <app-toggle
                textOn="Include"
                textOff="Ignore"
                tooltipOn="Use all edges from the visualized network and the Drugst.One database."
                tooltipOff="Use only Drugst.One edges."
                [(value)]="closenessCustomEdges"
              >
              </app-toggle>
              <p class="has-text-info is-size-7">
                Include PPI edges from displayed network in the algorithms or
                use only edges from the Drugst.One database.
              </p>
            </div>
          </div>

          <div *ngIf="algorithm === 'degree'">
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <app-fa-solid-icon icon="info"></app-fa-solid-icon>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h6 class="is-6">About Degree Centrality</h6>
                    <p>
                      Degree Centrality assigns an importance score based simply
                      on the number of links held by each node. In Drugst.One,
                      we use a modified version which does not consider all
                      links but only the neighbouring seeds.
                    </p>
                  </div>
                </div>
              </article>
            </div>

            <div class="field">
              <label class="label" for="degree-rs">Result Size</label>
              <div class="control">
                <input
                  [(ngModel)]="degreeResultSize"
                  id="degree-rs"
                  class="input"
                  type="number"
                  placeholder="Result size"
                  required
                />
              </div>
            </div>

            <div class="field" *ngIf="target === 'drug'">
              <label class="label">Non-approved Drugs</label>
              <app-toggle
                textOn="Include"
                textOff="Ignore"
                tooltipOn="Include non-approved drugs."
                tooltipOff="Exclude non-approved drugs from the result."
                [(value)]="degreeIncludeNonApprovedDrugs"
              ></app-toggle>
            </div>

            <div class="field">
              <label class="label" for="degree-md">Maximum degree</label>
              <div class="control">
                <input
                  [(ngModel)]="degreeMaxDeg"
                  id="degree-md"
                  class="input"
                  type="number"
                  placeholder="Maximum degree"
                  min="0"
                  max="1"
                  required
                />
              </div>
              <p class="has-text-info is-size-7">
                All nodes with degree greater than this value will be ignored.
                Disabled if equal to 0.
              </p>
            </div>

            <div
              class="field"
              *ngIf="drugstoneConfig.config.customEdges.selectable"
            >
              <label class="label">Include all displayed edges</label>
              <app-toggle
                textOn="Include"
                textOff="Ignore"
                tooltipOn="Use all edges from the visualized network and the Drugst.One database."
                tooltipOff="Use only Drugst.One edges."
                [(value)]="degreeCustomEdges"
              >
              </app-toggle>
              <p class="has-text-info is-size-7">
                Include PPI edges from displayed network in the algorithms or
                use only edges from the Drugst.One database.
              </p>
            </div>
          </div>

          <div *ngIf="algorithm === 'proximity'">
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <app-fa-solid-icon icon="info"></app-fa-solid-icon>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h6 class="is-6">About Network Proximity</h6>
                    <p>
                      Network Proximity uses the average minimum distance from
                      the drug’s targets to all of the selected seeds as a
                      measure of proximity.
                    </p>
                  </div>
                </div>
              </article>
            </div>

            <div class="field">
              <label class="label" for="proximity-rs">Result size</label>
              <div class="control">
                <input
                  [(ngModel)]="proximityResultSize"
                  id="proximity-rs"
                  class="input"
                  type="number"
                  placeholder="Result size"
                  required
                />
              </div>
            </div>

            <div class="field">
              <label class="label" for="proximity-ss">Number Random Seed Sets</label>
              <div class="control">
                <input
                  [(ngModel)]="proximityNumRandomSeedSets"
                  id="proximity-ss"
                  class="input"
                  type="number"
                  placeholder="Number of random seet sets"
                  required
                />
              </div>
            </div>

            <div class="field">
              <label class="label" for="proximity-dts">Number Random Drug Target Sets</label>
              <div class="control">
                <input
                  [(ngModel)]="proximityNumDrugTargetSets"
                  id="proximity-dts"
                  class="input"
                  type="number"
                  placeholder="Number of random drug target sets"
                  required
                />
              </div>
            </div>

            <div class="field">
              <label class="label">Non-approved drugs</label>
              <app-toggle
                textOn="Include"
                textOff="Ignore"
                tooltipOn="Include non-approved drugs."
                tooltipOff="Exclude non-approved drugs from the result."
                [(value)]="proximityIncludeNonApprovedDrugs"
              ></app-toggle>
            </div>

            <div class="field">
              <label class="label" for="proximity-md">Maximum degree</label>
              <div class="control">
                <input
                  [(ngModel)]="proximityMaxDeg"
                  id="proximity-md"
                  class="input"
                  type="number"
                  placeholder="Maximum degree"
                  required
                />
              </div>
              <p class="has-text-info is-size-7">
                All nodes with degree greater than this value will be ignored.
                Disabled if equal to 0.
              </p>
            </div>

            <div class="field">
              <label class="label" for="proximity-hp">Hub penalty</label>
              <div class="control">
                <input
                  [(ngModel)]="proximityHubPenalty"
                  id="proximity-hp"
                  class="input"
                  type="number"
                  placeholder="Maximum degree"
                  min="0"
                  max="1"
                  required
                />
              </div>
              <p class="has-text-info is-size-7">Penalty parameter for hubs.</p>
            </div>

            <div
              class="field"
              *ngIf="drugstoneConfig.config.customEdges.selectable"
            >
              <label class="label">Include all displayed edges</label>
              <app-toggle
                textOn="Include"
                textOff="Ignore"
                tooltipOn="Use all edges from the visualized network and the Drugst.One database."
                tooltipOff="Use only Drugst.One edges."
                [(value)]="proximityCustomEdges"
              >
              </app-toggle>
              <p class="has-text-info is-size-7">
                Include PPI edges from displayed network in the algorithms or
                use only edges from the Drugst.One database.
              </p>
            </div>
          </div>

          <div *ngIf="algorithm === 'louvain-clustering'">
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <app-fa-solid-icon icon="info"></app-fa-solid-icon>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h6 class="is-6">About Louvain Clustering</h6>
                    <p>
                      Louvain Clustering is a community detection algorithm that is performed on undirected networks.
                      It is recommended to select all nodes of the graph.
                    </p>
                  </div>
                </div>
              </article>
            </div>
          
            <div class="field">
              <label class="label" for="ignore-isolated-louvain">Ignore isolated nodes in Clustering</label>
              <div class="control">
                <label class="checkbox">
                  <input type="checkbox" [(ngModel)]="ignore_isolated" id="ignore-isolated-louvain">
                  Ignore isolated nodes
                </label>
              </div>
              <p class="has-text-info is-size-7">
                Isolated nodes will not be considered in the clustering algorithm. They would form their own cluster anyways.
              </p>
            </div>
          
            <div class="field">
              <label class="label" for="seed-louvain">Seed</label>
              <div class="control">
                <input type="number" [(ngModel)]="seed" id="seed-louvain" class="input" placeholder="Enter a seed or leave empty"
                  (ngModelChange)="onSeedChange($event)" />
              </div>
              <p class="has-text-info is-size-7">
                Optional: Provide a seed for the random number generator, or leave empty to auto-generate one.
              </p>
            </div>
          </div>


          <div *ngIf="algorithm === 'leiden-clustering'">
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <app-fa-solid-icon icon="info"></app-fa-solid-icon>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h6 class="is-6">About Leiden Clustering</h6>
                    <p>
                      Leiden Clustering is a community detection algorithm that is performed on undirected networks.
                      It is recommended to select all nodes of the graph.
                    </p>
                  </div>
                </div>
              </article>
            </div>
          
            <div class="field">
              <label class="label" for="ignore-isolated">Ignore isolated nodes in Clustering</label>
              <div class="control">
                <label class="checkbox">
                  <input type="checkbox" [(ngModel)]="ignore_isolated" id="ignore-isolated">
                  Ignore isolated nodes
                </label>
              </div>
              <p class="has-text-info is-size-7">Isolated nodes will not be considered in the clustering algorithm. They would form their own cluster anyways.</p>
            </div>
          
            <div class="field">
              <label class="label" for="seed">Seed</label>
              <div class="control">
                <input type="number" [(ngModel)]="seed" id="seed" class="input" placeholder="Enter a seed or leave empty"
                  (ngModelChange)="onSeedChange($event)" />
              </div>
              <p class="has-text-info is-size-7">
                Optional: Provide a seed for the random number generator, or leave empty to auto-generate one.
              </p>
            </div>
          </div>



          <div *ngIf="algorithm === 'first-neighbor'">
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <app-fa-solid-icon icon="info"></app-fa-solid-icon>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h6 class="is-6">About First Neighbor</h6>
                    <p>
                      The First Neighbor Approach adds all first neighbors of the seed genes to the network.
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>

          <div *ngIf="algorithm === 'betweenness'">
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <app-fa-solid-icon icon="info"></app-fa-solid-icon>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h6 class="is-6">About Betweenness Centrality</h6>
                    <p>
                      Betweenness Centrality ranks the proteins in a network
                      based on how many shortest paths pass through them.
                    </p>
                  </div>
                </div>
              </article>
            </div>

            <div class="field">
              <label class="label" for="proximity-rs">Result size</label>
              <div class="control">
                <input
                  [(ngModel)]="betweennessResultSize"
                  id="betweenness-rs"
                  class="input"
                  type="number"
                  placeholder="Result size"
                  required
                />
              </div>
            </div>

            <div class="field">
              <label class="label" for="betweenness-md">Maximum degree</label>
              <div class="control">
                <input
                  [(ngModel)]="betweennessMaxDeg"
                  id="betweenness-md"
                  class="input"
                  type="number"
                  placeholder="Maximum degree"
                  min="0"
                  max="1"
                  required
                />
              </div>
              <p class="has-text-info is-size-7">
                All nodes with degree greater than this value will be ignored.
                Disabled if equal to 0.
              </p>
            </div>

            <div class="field">
              <label class="label" for="betweenness-hp">Hub penalty</label>
              <div class="control">
                <input
                  [(ngModel)]="betweennessHubPenalty"
                  id="betweenness-hp"
                  class="input"
                  type="number"
                  placeholder="Maximum degree"
                  min="0"
                  max="1"
                  required
                />
              </div>
              <p class="has-text-info is-size-7">Penalty parameter for hubs.</p>
            </div>

            <div
              class="field"
              *ngIf="drugstoneConfig.config.customEdges.selectable"
            >
              <label class="label">Include all displayed edges</label>
              <app-toggle
                textOn="Include"
                textOff="Ignore"
                tooltipOn="Use all edges from the visualized network and the Drugst.One database."
                tooltipOff="Use only Drugst.One edges."
                [(value)]="betweennessCustomEdges"
              >
              </app-toggle>
              <p class="has-text-info is-size-7">
                Include PPI edges from displayed network in the algorithms or
                use only edges from the Drugst.One database.
              </p>
            </div>
          </div>

          <div *ngIf="algorithm === 'keypathwayminer'">
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <app-fa-solid-icon icon="info"></app-fa-solid-icon>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h6 class="is-6">About KeyPathwayMiner</h6>
                    <p>
                      KeyPathwayMiner is a network enrichment tool that
                      identifies condition-specific sub-networks (key pathways)
                      (Alcaraz et al. 2016).
                    </p>
                  </div>
                </div>
              </article>
            </div>

            <div class="field">
              <label class="label" for="keypathwayminer-k"
                >Additional proteins</label
              >
              <div class="control">
                <div class="select">
                  <select id="keypathwayminer-k" [(ngModel)]="keypathwayminerK">
                    <option [ngValue]="1">1</option>
                    <option [ngValue]="2">2</option>
                    <option [ngValue]="3">3</option>
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="15">15</option>
                    <option [ngValue]="20">20</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="30">30</option>
                    <option [ngValue]="40">40</option>
                    <option [ngValue]="50">50</option>
                  </select>
                </div>
              </div>
              <p class="has-text-info is-size-7">
                Number of new proteins to be found.
              </p>
            </div>
          </div>

          <div *ngIf="algorithm === 'multisteiner'">
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <app-fa-solid-icon icon="info"></app-fa-solid-icon>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h6 class="is-6">About Multi-level Steiner Tree</h6>
                    <p>
                      The Multi-level Steiner Tree algorithm can be used to
                      approximate a minimum spanning subnetwork between seed
                      nodes, which happen to be central interaction partners
                      between the seed nodes, and thus represent favorable
                      drug-targets (Ahmed et al. 2019).
                    </p>
                  </div>
                </div>
              </article>
            </div>

            <div class="field">
              <label class="label" for="multisteiner-numtrees"
                >Number of Steiner trees to return</label
              >
              <div class="control">
                <div class="select">
                  <select
                    id="multisteiner-numtrees"
                    [(ngModel)]="multisteinerNumTrees"
                  >
                    <option [ngValue]="1">1</option>
                    <option [ngValue]="2">2</option>
                    <option [ngValue]="3">3</option>
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="15">15</option>
                    <option [ngValue]="20">20</option>
                    <option [ngValue]="25">25</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label" for="multisteiner-numtrees"
                >Tolerance for trees</label
              >
              <div class="control">
                <div class="select">
                  <select
                    id="multisteiner-tolerance"
                    [(ngModel)]="multisteinerTolerance"
                  >
                    <option [ngValue]="0">0</option>
                    <option [ngValue]="1">1</option>
                    <option [ngValue]="2">2</option>
                    <option [ngValue]="3">3</option>
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="15">15</option>
                    <option [ngValue]="20">20</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label" for="multisteiner-md">Maximum degree</label>
              <div class="control">
                <input
                  [(ngModel)]="multisteinerMaxDeg"
                  id="multisteiner-md"
                  class="input"
                  type="number"
                  placeholder="Maximum degree"
                  min="0"
                  max="1"
                  required
                />
              </div>
              <p class="has-text-info is-size-7">
                All nodes with degree greater than this value will be ignored.
                Disabled if equal to 0.
              </p>
            </div>

            <div class="field">
              <label class="label" for="multisteiner-hp">Hub penalty</label>
              <div class="control">
                <input
                  [(ngModel)]="multisteinerHubPenalty"
                  id="multisteiner-hp"
                  class="input"
                  type="number"
                  placeholder="Maximum degree"
                  min="0"
                  max="1"
                  required
                />
              </div>
              <p class="has-text-info is-size-7">Penalty parameter for hubs.</p>
            </div>

            <div
              class="field"
              *ngIf="drugstoneConfig.config.customEdges.selectable"
            >
              <label class="label">Include all displayed edges</label>
              <app-toggle
                textOn="Include"
                textOff="Ignore"
                tooltipOn="Use all edges from the visualized network and the Drugst.One database."
                tooltipOff="Use only Drugst.One edges."
                [(value)]="multisteinerCustomEdges"
              >
              </app-toggle>
              <p class="has-text-info is-size-7">
                Include PPI edges from displayed network in the algorithms or
                use only edges from the Drugst.One database.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="modal-card-foot">
      <button
        (click)="startTask(); close()"
        class="button is-success is-rounded has-tooltip"
        pTooltip="Run the analysis."
        [tooltipStyleClass]="'drgstn drgstn-tooltip drgstn-tooltip-top'"
        tooltipPosition="top"
        [disabled]="!analysis.canLaunchTask() || !isAnySelected()"
      >
        <app-fa-solid-icon icon="rocket"></app-fa-solid-icon>
        <span> Launch </span>
      </button>
      <button
        (click)="close()"
        class="button is-rounded has-tooltip"
        pTooltip="Close the current window."
        [tooltipStyleClass]="'drgstn drgstn-tooltip drgstn-tooltip-top'"
        tooltipPosition="top"
      >
        Close
      </button>
      <button mat-icon-button
        [tooltipStyleClass]="'drgstn drgstn-tooltip drgstn-tooltip-top'"
        tooltipPosition="top"
        pTooltip="Choose at least one geneset!"  
        *ngIf="!isAnySelected()">
        <app-fa-solid-icon icon="exclamation-triangle"></app-fa-solid-icon>
      </button>   
  </footer>
  </div>
</div>
