<div class="scroll">
  <div class="content">
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Cite CoVex</h1>
        </div>
      </div>
    </section>

    <div class="hero container">
      <div class="column is-8 is-offset-2">
        <div class="content">
          <h2>Citation</h2>
          <p>
            If you use CoVex in your work please reference it as follows:
          </p>
          <pre>{{"@misc{sadegh2020exploring,"}}
{{"    title={Exploring the SARS-CoV-2 virus-host-drug interactome for drug repurposing},"}}
{{"    author={Sepideh Sadegh and Julian Matschinske and David B. Blumenthal and Gihanna Galindez and Tim Kacprowski and Markus List and Reza Nasirigerdeh and Mhaned Oubounyt and Andreas Pichlmair and Tim Daniel Rose and Marisol Salgado-Albarrán and Julian Späth and Alexey Stukalov and Nina K. Wenke and Kevin Yuan and Josch K. Pauling and Jan Baumbach},"}}
{{"    year={2020},"}}
{{"    eprint={2004.12420},"}}
{{"    archivePrefix={arXiv},"}}
{{"    primaryClass={q-bio.MN}"}}
{{"}"}}</pre>
          Preprint: <a href="https://arxiv.org/abs/2004.12420">https://arxiv.org/abs/2004.12420</a>

          <h2>Source code</h2>
          <p>
            The source code is available upon request: julian.matschinske_AT_wzw.tum.de
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



