<div class="scroll">
  <div class="content">
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Cite CoVex</h1>
        </div>
      </div>
    </section>

    <div class="hero container">
      <div class="column is-8 is-offset-2">
        <div class="content">
          <h2>Citation</h2>
          <p>
            If you use CoVex in your work please reference it as follows:
          </p>Nat Commun 11, 3518 (2020). https://doi.org/10.1038/s41467-020-17189-2
          <pre>{{"﻿@Article{Sadegh2020,"}}
{{"author={Sadegh, Sepideh and Matschinske, Julian and Blumenthal, David B. and Galindez, Gihanna and Kacprowski, Tim and List, Markus and Nasirigerdeh, Reza and Oubounyt, Mhaned and Pichlmair, Andreas and Rose, Tim Daniel and Salgado-Albarr{\'a}n, Marisol and Sp{\"a}th, Julian and Stukalov, Alexey and Wenke, Nina K. and Yuan, Kevin and Pauling, Josch K. and Baumbach, Jan},"}}
{{"title={Exploring the SARS-CoV-2 virus-host-drug interactome for drug repurposing},"}}
{{"journal={Nature Communications},"}}
{{"year={2020},"}}
{{"month={Jul},"}}
{{"day={14},"}}
{{"volume={11},"}}
{{"number={1},"}}
{{"pages={3518},"}}
{{"issn={2041-1723},"}}
{{"doi={10.1038/s41467-020-17189-2},"}}
{{"url={https://doi.org/10.1038/s41467-020-17189-2}"}}
{{"}"}}</pre>

          Paper URL: <a href="https://www.nature.com/articles/s41467-020-17189-2">https://www.nature.com/articles/s41467-020-17189-2</a>

          <h2>Source code</h2>
          <p>
            The source code is available upon request: julian.matschinske_AT_wzw.tum.de
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



