@import "src/stylesheets/variables";
.drugstone-plugin-dropdown-menu {
  z-index: $network-tissue-options-z !important;
}
.drugstone-plugin-inner-dropdown.drugstone-plugin-dropdown-menu {
  margin-left: calc(-150px - 43px) !important;
  width: 150px;
  margin-top: -45px;
  .drugstone-plugin-dropdown-content {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    .drugstone-plugin-dropdown-item {
      padding: .375rem 0 !important;
    }
  }
}
