/* You can add global styles to this file, and also import other style files */

@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Varela+Round');
$family-sans-serif: "Varela Round", sans-serif;
@import "~bulma/bulma.sass";

.hero.is-primary {
  background-color: #118AB2;
  background-image: url("assets/logo.png"), linear-gradient(to left, #f2fcfe, #118AB2);
  background-repeat: no-repeat;
  background-position: 80%;
  padding: 50px;
}

.button.is-primary, .button.is-primary:hover, .button.is-primary:disabled {
  background-color: #118AB2;
}

.button.is-danger, .button.is-danger:hover, .button.is-danger:disabled {
  background-color: #EF476F;
}

.button.is-success, .button.is-success:hover, .button.is-success:disabled {
  background-color: #06D6A0;
}

div.navbar-menu {
  margin-left: 5px;
}

span.icon {
  margin-right: 5px;
}

img {
  margin: 10px;
}

img.inline {
  height: 30px;
  margin-left: 0px;
}

button.i {
  margin-left: 5px;
}

input.checkbox {
  margin-left: 15px;
}

div.content.bar-left {
  float: left;
  width: 15%;
  height: calc(100vh - 30%);
}

div.content.bar-right {
  float: right;
  width: 15%;
}

div.card.bar {
  margin-bottom: 21px;
  word-wrap: break-word;
}


div.content.network {
  width: 68%;
  height: calc(100vh - 90px);
  margin-left: auto;
  margin-right: auto;
}

div.card.network {
  width: 100%;
  height: calc(100vh - 100px);
}

div.network {
   height: calc(100vh - 220px);
}

div.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


div.content.explorer {
  margin-left: 20px;
  margin-right: 20px;
}
