$row-data-selector-height: auto;
$network-header-height: 3rem;
$network-footer-height: 4rem;

$analysis-tab-header-height: 2.5rem;
$analysis-tab-header-padding: 1.5rem;

// Settings Legend
$legend-default-background-color: #143d1f;
$legend-row-height: 35px;
$legend-circle-size: $legend-row-height;
$legend-star-size: 20px;
$legend-square-width: $legend-row-height;
$legend-edge-width: 20px;
$legend-edge-height: 3px;
$legend-star-color: #FC0;
$legend-triangle-size: $legend-row-height;
$legend-triangle-height: 29px;
$legend-hexagon-font-size: 38px;
$legend-diamond-size: 25px;

$height: 100%;

// Settings Interface Components
$sidebar-right-width: 25%;
$sidebar-right-min-width: 210px;
$sidebar-left-width: 18%;
$sidebar-left-min-width: 200px;
$main-width: calc(100% - (max(#{$sidebar-left-width},#{$sidebar-left-min-width}) + max(#{$sidebar-right-width},#{$sidebar-right-min-width})));


// settings for different screen sizes
$b-text-small-font-size: 14px;
$b-text-smaller-font-size: 12px;
$text-normal-font-size: 12px;
$text-small-font-size: 11px;

$button-small-padding: 3px 10px 3px 10px;