$row-data-selector-height: auto;
$network-footer-height: 75px;

$legend-default-background-color: #143d1f;
$legend-circle-size: 35px;
$legend-star-size: 20px;
$legend-square-width: 35px;
$legend-edge-width: 20px;
$legend-edge-height: 3px;
$legend-star-color: #FC0;

$height: 100%;


$sidebar-right-width: 25%;
$sidebar-right-min-width: 210px;
$sidebar-left-width: 18%;
$sidebar-left-min-width: 200px;
$main-width: calc(100% - (max(#{$sidebar-left-width},#{$sidebar-left-min-width}) + max(#{$sidebar-right-width},#{$sidebar-right-min-width})));

