<p

*ngFor="let attribute of edgeAttributes"

[ngClass]="{ 'drugstone-plugin-text-normal': drugstoneConfig.smallStyle }"

>

<b

><span class="drugstone-plugin-is-capitalized">{{ attribute[0] }}:</span></b

>

<a>

<span

class="drugstone-plugin-is-capitalized drugstone-plugin-is-link"

*ngIf="nodeKeys.includes(attribute[0])"

(click)="zoomTo(attribute[1].id)"

>

{{ attribute[1].label }} ({{

drugstoneConfig.currentConfig().nodeGroups[

attribute[1][

attribute[1].group === "selectedNode" ? "_group" : "group"

]

].groupName

}})

<app-fa-solid-icon

icon="search"

classString="drugstone-plugin-icon-height-normal"

></app-fa-solid-icon></span

></a>

<span class="drugstone-plugin-is-capitalized" *ngIf="!nodeKeys.includes(attribute[0])">

{{ attribute[1] }}

</span>

</p>


