.drugstone-plugin-list {
  p {
    margin-bottom: 0;
  }
  progress {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .drugstone-plugin-icon {
    display: block !important;
  }
}
.drugstone-plugin-status-field {
  background-color: var(--drgstn-background);
  padding: 2px;
  font-size: 10px;
  max-width: 215px;
  max-height: 30px;
  overflow-y: scroll;
  border: 1px solid var(--drgstn-border);
  display: inline-block;
}
.drugstone-plugin-small-box {
  background-color: var(--drgstn-panel-secondary) !important;
}
