.list {
  p {
    margin-bottom: 0;
  }

  progress {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.status-field {
  background-color: var(--drgstn-background);
  padding: 2px;
  font-size: 10px;
  max-width: 215px;
  height: 20px;
  overflow: hidden;
  border: 1px solid var(--drgstn-border);
  display: inline-block;
}

.small-box {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: var(--drgstn-panel-secondary) !important;
}
