.list {
  p {
    margin-bottom: 0;
  }

  progress {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.status-field {
  background-color: white;
  padding: 2px;
  font-size: 10px;
  max-width: 215px;
  height: 20px;
  overflow: hidden;
  border: 1px solid #e4e4e4;
  display: inline-block;
}
