@import "src/stylesheets/variables";
#drugstone-plugin-privacy-banner {
  position: absolute;
  bottom: 0;
  z-index: $privacy-banner-z;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  &.drugstone-plugin-disabled {
    display: none;
  }
}
.drugstone-plugin-link-style {
  cursor: pointer;
  text-decoration: underline;
}
