@import "src/stylesheets/variables";

@keyframes hideSidebar {
  from {
    right: 0;
  }
  to {
    right: $network-footer-right-closed;
  }
}

@keyframes showSidebar {
  from {
    right: $network-footer-right-closed;
  }
  to {
    right: 0;
  }
}

@keyframes hideSidebarSmall {
  from {
    right: 0;
  }
  to {
    right: $network-footer-right-closed-small;
  }
}

@keyframes showSidebarSmall {
  from {
    right: $network-footer-right-closed-small;
  }
  to {
    right: 0;
  }
}

.network-footer-toolbar {
  position: absolute;
  height: calc(100% - #{$network-header-height});
  width: $network-footer-width;
  top: $network-header-height;
  background-color: var(--drgstn-panel);
  z-index: $network-footer-container-z;

  &.small-sidebar {
    width: $network-footer-width-small;
  }

  &.no-header {
    top: 0;
    height: 100%;
  }

  &.opened {
    right: 0;
    animation-name: showSidebar;
    animation-duration: 1s;

    &.small-sidebar {
      animation-name: showSidebarSmall;
    }
  }

  &.closed {
    right: $network-footer-right-closed;
    animation-name: hideSidebar;
    animation-duration: 1s;

    &.small-sidebar {
      animation-name: hideSidebarSmall;
      right: $network-footer-right-closed-small;
    }
  }

  &-inner-container {
    width: 100%;
    height: $network-footer-inner-container-height;
    position: absolute;
    top: 0;
  }

  &-element {
    position: relative;
    margin-left: 10px;
  }

  .network-toolbar-toggle {
    z-index: $network-footer-container-toggle-z;
    position: relative;
    top: calc(50% - 10px);
    display: inline-block;
    margin: 0px;
    left: -12px;
    padding: calc(.75em - 1px) !important;

    &.rotated {
      -ms-transform: rotate(180deg); /* IE 9 */
      transform: rotate(180deg);
    }
  }
}

.dropdown-menu {
  z-index: $network-tissue-options-z !important;

  .dropdown-content {
    .scroll-area {
      height: 15rem;
      padding: 5px;
    }
  }
}

.inner-dropdown {
  .dropdown-menu {
    margin-left: calc(-250px - 1px);
    width: 250px;
    margin-top: -45px;

    .dropdown-content {
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      .dropdown-item {
        padding: .375rem 0 !important;
      }
    }
  }
}
