@import "src/stylesheets/variables";

@keyframes hideSidebar {
  from {
    right: 0;
  }
  to {
    right: $network-footer-right-closed;
  }
}

@keyframes showSidebar {
  from {
    right: $network-footer-right-closed;
  }
  to {
    right: 0;
  }
}

@keyframes hideSidebarSmall {
  from {
    right: 0;
  }
  to {
    right: $network-footer-right-closed-small;
  }
}

@keyframes showSidebarSmall {
  from {
    right: $network-footer-right-closed-small;
  }
  to {
    right: 0;
  }
}

.network-footer-toolbar {
  position: absolute;
  height: calc(100% - #{$network-header-height});
  width: $network-footer-width;
  top: $network-header-height;
  background-color: var(--drgstn-panel-secondary);
  z-index: $network-footer-container-z;
  &.small-sidebar {
    width: $network-footer-width-small;
  }
  &.no-header {
    top: 0;
    height: 100%;
  }
  &.opened {
    right: 0;
    animation-name: showSidebar;
    animation-duration: 1s;
    &.small-sidebar {
      animation-name: showSidebarSmall;
    }
  }
  &.closed {
    right: $network-footer-right-closed;
    animation-name: hideSidebar;
    animation-duration: 1s;
    &.small-sidebar {
      animation-name: hideSidebarSmall;
      right: $network-footer-right-closed-small;
    }
  }
  &-inner-container {
    width: 100%;
    height: $network-footer-inner-container-height;
    position: absolute;
    top: 0;
  }

  &-element {
    position: relative;
    margin-left: 10px;
  }

  .network-toolbar-toggle {
    z-index: $network-footer-container-toggle-z;
    position: relative;
    top: calc(50% - 10px);
    display: inline-block;
    margin: 0px;
    left: -20px;
    &.rotated {
      -ms-transform: rotate(180deg); /* IE 9 */
      transform: rotate(180deg);
    }
    .dropdown-menu {
      z-index: $network-tissue-options-z;

      .scroll-area {
        height: 15rem;
      }
    }
  }
}
