<div

class="drugstone-plugin-network-footer-toolbar drugstone-plugin-drgstn-box-shadow"

[ngClass]=" networkHandler.networkSidebarOpen ? 'drugstone-plugin-opened' : 'drugstone-plugin-closed' "   [class.drugstone-plugin-no-header]="networkHandler.activeNetwork.networkType === 'analysis'"

[class.drugstone-plugin-small-sidebar]="drugstoneConfig.smallStyle"

>

<a

(click)="networkHandler.activeNetwork.toggleNetworkSidebar()"

class="drugstone-plugin-button drugstone-plugin-is-small drugstone-plugin-is-primary drugstone-plugin-network-toolbar-toggle"

[ngClass]="{ 'drugstone-plugin-rotated': networkHandler.networkSidebarOpen }"

>

<app-fa-solid-icon

icon="angle-left"

classString="drugstone-plugin-only-item-in-button"

></app-fa-solid-icon>

</a>

<div class="drugstone-plugin-network-footer-toolbar-inner-container">

<div class="drugstone-plugin-rows" style="margin-bottom: 20px;">

<div

class="drugstone-plugin-row drugstone-plugin-is-full drugstone-plugin-m-1"

*ngIf="networkHandler.activeNetwork.networkType === 'analysis' && networkHandler.showSeedsButton"

>

<app-toggle-inplace

class="drugstone-plugin-network-footer-toolbar-element"

text="Seeds"

tooltip="Highlight seed nodes."

[value]="networkHandler.activeNetwork.highlightSeeds"

(valueChange)=" networkHandler.activeNetwork.updateHighlightSeeds($event) "           icon="seedling"

></app-toggle-inplace>

</div>

<div

class="drugstone-plugin-row drugstone-plugin-is-full drugstone-plugin-m-1"

*ngIf="drugstoneConfig.config.showNetworkMenuButtonCenter"

>

<div

class="drugstone-plugin-network-footer-toolbar-element">

<app-center-view (resetEmitter)="reset()"></app-center-view>

</div>

</div>

<div

class="drugstone-plugin-row drugstone-plugin-is-full drugstone-plugin-m-1"

*ngIf="drugstoneConfig.config.showNetworkMenuButtonScreenshot"

>

<div

class="drugstone-plugin-network-footer-toolbar-element">

<button

(click)="networkHandler.activeNetwork.toImage()"

class="drugstone-plugin-button drugstone-plugin-is-primary drugstone-plugin-is-rounded drugstone-plugin-has-tooltip"

pTooltip="Take a screenshot of the current network."

[tooltipStyleClass]="'drugstone-plugin-drgstn drugstone-plugin-drgstn-tooltip drugstone-plugin-drgstn-tooltip-left'"

tooltipPosition="left"

[ngClass]="{ 'drugstone-plugin-is-small': drugstoneConfig.smallStyle }"           >

<app-fa-solid-icon icon="camera"></app-fa-solid-icon>

<span

[ngClass]="{ 'drugstone-plugin-text-normal': drugstoneConfig.smallStyle }"             >Screenshot</span

>

</button>

</div>

</div>

<div

class="drugstone-plugin-row drugstone-plugin-is-full drugstone-plugin-m-1"

*ngIf="drugstoneConfig.config.showNetworkMenuButtonExportGraphml"

>

<div

class="drugstone-plugin-network-footer-toolbar-element">

<app-download-button

[nodeData]="networkHandler.activeNetwork.nodeData"

[buttonId]="'explorer-download'"

></app-download-button>

</div>

</div>

<div

class="drugstone-plugin-row drugstone-plugin-is-full drugstone-plugin-m-1"

*ngIf="drugstoneConfig.config.showNetworkMenuButtonExpression"

>

<div

class="drugstone-plugin-dropdown drugstone-plugin-network-footer-toolbar-element"

[class.drugstone-plugin-is-active]="networkHandler.activeNetwork.expressionExpanded"

[ngClass]="{ 'drugstone-plugin-inner-dropdown': !networkHandler.networkSidebarOpen }"         >

<div class="drugstone-plugin-dropdown-trigger">

<button

(click)=" networkHandler.activeNetwork.expressionExpanded = !networkHandler.activeNetwork.expressionExpanded "               class="drugstone-plugin-button drugstone-plugin-is-rounded"

[class.drugstone-plugin-is-primary]="networkHandler.activeNetwork.selectedTissue"

aria-haspopup="true"

aria-controls="dropdown-menu"

pTooltip="Tissue expression data is provided by the GTEx project."

[tooltipStyleClass]="'drugstone-plugin-drgstn drugstone-plugin-drgstn-tooltip drugstone-plugin-drgstn-tooltip-left'"

tooltipPosition="left"

[ngClass]="{ 'drugstone-plugin-is-small': drugstoneConfig.smallStyle }"             >

<app-fa-solid-icon icon="child"></app-fa-solid-icon>

<span

*ngIf="!networkHandler.activeNetwork.selectedTissue"

[ngClass]="{ 'drugstone-plugin-text-small': drugstoneConfig.smallStyle }"               >Tissue</span

>

<span

*ngIf="networkHandler.activeNetwork.selectedTissue"

[ngClass]="{ 'drugstone-plugin-text-small': drugstoneConfig.smallStyle }"               >{{ networkHandler.activeNetwork.selectedTissue.name }}</span

>

<app-fa-solid-icon

icon="angle-down"

classString="drugstone-plugin-is-small drugstone-plugin-last-item-in-button"

*ngIf="networkHandler.activeNetwork.expressionExpanded"

></app-fa-solid-icon>

<app-fa-solid-icon

icon="angle-left"

classString="drugstone-plugin-is-small drugstone-plugin-last-item-in-button"

*ngIf="!networkHandler.activeNetwork.expressionExpanded"

></app-fa-solid-icon>

</button>

</div>

<div class="drugstone-plugin-dropdown-menu" id="drugstone-plugin-dropdown-menu" role="menu">

<div class="drugstone-plugin-dropdown-content drugstone-plugin-tissue-dropdown">

<div class="drugstone-plugin-scroll-area">

<a

(click)="networkHandler.activeNetwork.selectTissue(null)"

[class.drugstone-plugin-is-active]=" !networkHandler.activeNetwork.selectedTissue "                   [ngClass]="{'drugstone-plugin-text-small': drugstoneConfig.smallStyle}"

class="drugstone-plugin-dropdown-item"

>

None

</a>

<a

*ngFor=" let tissue of networkHandler.activeNetwork.analysis.getTissues() "                   (click)="networkHandler.activeNetwork.selectTissue(tissue)"

[class.drugstone-plugin-is-active]=" networkHandler.activeNetwork.selectedTissue && tissue.drugstoneId === networkHandler.activeNetwork.selectedTissue.drugstoneId "                   [ngClass]="{'drugstone-plugin-text-small': drugstoneConfig.smallStyle}"

class="drugstone-plugin-dropdown-item"

>

{{ tissue.name }}

</a>

</div>

</div>

</div>

</div>

</div>

<div class="drugstone-plugin-row drugstone-plugin-is-full drugstone-plugin-m-1" *ngIf="drugstoneConfig.config.showNetworkMenuButtonLabelIdspace">

<div

class="drugstone-plugin-network-footer-toolbar-element">

<app-idspace-button [buttonId]="'idspace-button'">

</app-idspace-button>

</div>

</div>

<div

class="drugstone-plugin-row drugstone-plugin-is-full drugstone-plugin-m-1"

*ngIf="drugstoneConfig.config.showNetworkMenuButtonAdjacentDrugs"

>

<app-toggle-inplace

class="drugstone-plugin-network-footer-toolbar-element"

text="{{ drugstoneConfig.config.networkMenuButtonAdjacentDrugsLabel }}"           icon="capsules"

tooltip="Display adjacent drugs."

[value]="networkHandler.activeNetwork.adjacentDrugs"

(valueChange)=" networkHandler.activeNetwork.updateAdjacentDrugs($event, true) "         ></app-toggle-inplace>

<!--        <div class="drugstone-plugin-row drugstone-plugin-is-full drugstone-plugin-m-1" *ngIf="networkHandler.activeNetwork.showsAdjacentDrugs() || networkHandler.activeNetwork.hasDrugsLoaded()">-->

<!--          <div-->

<!--            class="drugstone-plugin-dropdown drugstone-plugin-network-footer-toolbar-element"-->

<!--            [class.drugstone-plugin-is-active]="networkHandler.activeNetwork.drugTargetSelectionExpanded"-->

<!--            [ngClass]="{-->

<!--            'inner-dropdown': !networkHandler.networkSidebarOpen-->

<!--          }"-->

<!--          >-->

<!--            <div class="drugstone-plugin-dropdown-trigger">-->

<!--              <button-->

<!--                (click)="-->

<!--                networkHandler.activeNetwork.drugTargetSelectionExpanded =-->

<!--                  !networkHandler.activeNetwork.drugTargetSelectionExpanded-->

<!--              "-->

<!--                class="drugstone-plugin-button drugstone-plugin-is-rounded"-->

<!--                [disabled]="networkHandler.activeNetwork.getDrugTargetTypes().length === 0"-->

<!--                [class.drugstone-plugin-is-primary]="networkHandler.activeNetwork.getSelectedDrugTargetType()"-->

<!--                aria-haspopup="true"-->

<!--                aria-controls="dropdown-menu"-->

<!--                pTooltip="Filter drug-target edges by drug action annotation."-->

<!--                [tooltipStyleClass]="'drugstone-plugin-drgstn drugstone-plugin-drgstn-tooltip drugstone-plugin-drgstn-tooltip-left'"-->

<!--                tooltipPosition="left"-->

<!--                [ngClass]="{-->

<!--                'is-small': drugstoneConfig.smallStyle-->

<!--              }"-->

<!--              >-->

<!--                <app-fa-solid-icon icon="crosshairs"></app-fa-solid-icon>-->

<!--                <span-->

<!--                  *ngIf="!networkHandler.activeNetwork.getSelectedDrugTargetType()"-->

<!--                  [ngClass]="{-->

<!--                  'text-small': drugstoneConfig.smallStyle-->

<!--                }"-->

<!--                >Actions</span-->

<!--                >-->

<!--                <span-->

<!--                  *ngIf="networkHandler.activeNetwork.getSelectedDrugTargetType()"-->

<!--                  [ngClass]="{-->

<!--                  'text-small': drugstoneConfig.smallStyle-->

<!--                }"-->

<!--                >{{ networkHandler.activeNetwork.getSelectedDrugTargetType() }}</span-->

<!--                >-->

<!--                <app-fa-solid-icon-->

<!--                  icon="angle-down"-->

<!--                  classString="drugstone-plugin-is-small drugstone-plugin-last-item-in-button"-->

<!--                  *ngIf="networkHandler.activeNetwork.drugTargetSelectionExpanded"-->

<!--                ></app-fa-solid-icon>-->

<!--                <app-fa-solid-icon-->

<!--                  icon="angle-left"-->

<!--                  classString="drugstone-plugin-is-small drugstone-plugin-last-item-in-button"-->

<!--                  *ngIf="!networkHandler.activeNetwork.drugTargetSelectionExpanded"-->

<!--                ></app-fa-solid-icon>-->

<!--              </button>-->

<!--            </div>-->

<!--            <div class="drugstone-plugin-dropdown-menu" id="drugstone-plugin-drug-dropdown-menu" role="menu">-->

<!--              <div class="drugstone-plugin-dropdown-content drugstone-plugin-tissue-dropdown">-->

<!--                <div class="drugstone-plugin-scroll-area">-->

<!--                  <a-->

<!--                    (click)="networkHandler.activeNetwork.updateAdjacentDrugSelection(null,true)"-->

<!--                    [class.drugstone-plugin-is-active]="-->

<!--                    !networkHandler.activeNetwork.getSelectedDrugTargetType()-->

<!--                  "-->

<!--                    [ngClass]="{'drugstone-plugin-text-small': drugstoneConfig.smallStyle}"-->

<!--                    class="drugstone-plugin-dropdown-item"-->

<!--                  >-->

<!--                    None-->

<!--                  </a>-->

<!--                  <a-->

<!--                    *ngFor="-->

<!--                    let drugTargetType of networkHandler.activeNetwork.getDrugTargetTypes()-->

<!--                  "-->

<!--                    (click)="networkHandler.activeNetwork.updateAdjacentDrugSelection(drugTargetType, true)"-->

<!--                    [class.drugstone-plugin-is-active]="-->

<!--                    networkHandler.activeNetwork.getSelectedDrugTargetType() && networkHandler.activeNetwork.getSelectedDrugTargetType() === drugTargetType-->

<!--                  "-->

<!--                    [ngClass]="{'drugstone-plugin-text-small': drugstoneConfig.smallStyle}"-->

<!--                    class="drugstone-plugin-dropdown-item"-->

<!--                  >-->

<!--                    {{ drugTargetType }}-->

<!--                  </a>-->

<!--                </div>-->

<!--              </div>-->

<!--            </div>-->

<!--          </div>-->

<!--        </div>-->

</div>

<div

class="drugstone-plugin-row drugstone-plugin-is-full drugstone-plugin-m-1"

*ngIf=" drugstoneConfig.config.showNetworkMenuButtonAdjacentDisordersProteins "       >

<app-toggle-inplace

class="drugstone-plugin-network-footer-toolbar-element"

text="{{ drugstoneConfig.config .networkMenuButtonAdjacentDisordersProteinsLabel }}"           tooltip="Show disorders adjacent to all currently displayed proteins/genes."

[value]="networkHandler.activeNetwork.adjacentDisordersProtein"

(valueChange)=" networkHandler.activeNetwork.updateAdjacentProteinDisorders($event, true) "           icon="head-side-mask"

></app-toggle-inplace>

</div>

<div

class="drugstone-plugin-row drugstone-plugin-is-full drugstone-plugin-m-1"

*ngIf=" drugstoneConfig.config.showNetworkMenuButtonAdjacentDisordersDrugs "       >

<app-toggle-inplace

class="drugstone-plugin-network-footer-toolbar-element"

text="{{ drugstoneConfig.config.networkMenuButtonAdjacentDisordersDrugsLabel }}"           tooltip="Show disorders adjacent to all currently displayed drugs."

[value]="networkHandler.activeNetwork.adjacentDisordersDrug"

[disabled]="!networkHandler.activeNetwork.hasDrugsLoaded()"

(valueChange)=" networkHandler.activeNetwork.updateAdjacentDrugDisorders($event, true) "           icon="biohazard"

></app-toggle-inplace>

</div>

<div

class="drugstone-plugin-row drugstone-plugin-is-full drugstone-plugin-m-1"

*ngIf="drugstoneConfig.config.showNetworkMenuButtonAnimation"

>

<app-toggle-inplace

text="{{ drugstoneConfig.config.networkMenuButtonAnimationLabel }}"

tooltip="Toggle the network animation."

[value]="drugstoneConfig.config.physicsOn"

(valueChange)=" networkHandler.activeNetwork.updatePhysicsEnabled($event) "           icon="bullseye"

class="drugstone-plugin-network-footer-toolbar-element"

></app-toggle-inplace>

</div>

<div *ngIf="drugstoneConfig.config.showNetworkMenuButtonUpload && !analysis.analysisActive" class="drugstone-plugin-row drugstone-plugin-is-full drugstone-plugin-m-1">

<app-toggle-inplace [useValue]="false"

class="drugstone-plugin-network-footer-toolbar-element"

text="{{ drugstoneConfig.config.networkMenuButtonUploadLabel }}"

tooltip="Upload network as .csv, .sif, .gt (id as node property 'name') or .graphml." (valueChange)=" showAnalysisDialog = $event; upload=false; " icon="upload"></app-toggle-inplace> </div> <app-network-upload-dialog [(show)]="showAnalysisDialog" (showChange)="showAnalysisDialog = $event" style="z-index: 80" (uploadEvent)="handleUploadEvent($event)"> </app-network-upload-dialog> <div *ngIf="drugstoneConfig.config.showNetworkMenuButtonLayout" class="drugstone-plugin-row drugstone-plugin-is-full drugstone-plugin-m-1"> <app-toggle-inplace text="{{ drugstoneConfig.config.networkMenuButtonLayoutLabel }}" tooltip="Create layout based on cellular component." [value]="drugstoneConfig.config.layoutOn" (valueChange)="                   networkHandler.activeNetwork.updateLayoutEnabled($event)

" icon="list" class="drugstone-plugin-network-footer-toolbar-element" ></app-toggle-inplace> </div> <div *ngIf="drugstoneConfig.config.showNetworkMenuButtonSelectionMultiDrag" class="row is-full m-1"> <app-toggle-inplace text="{{ drugstoneConfig.config.networkMenuButtonSelectionMultiDragLabel }}" tooltip="Enable Multi-drag for the selection." [value]="drugstoneConfig.config.selectionMultiDrag" (valueChange)="                         analysis.updateMultiDragSelection($event)

" icon="filter" class="drugstone-plugin-network-footer-toolbar-element"></app-toggle-inplace>

</div>

<div *ngIf="drugstoneConfig.config.showNetworkMenuButtonOverlayDirectedEdges && drugstoneConfig.currentConfig().interactionProteinProtein != 'OmniPath'" class="drugstone-plugin-row drugstone-plugin-is-full drugstone-plugin-m-1">

<app-toggle-inplace

class="drugstone-plugin-network-footer-toolbar-element"

text="{{ drugstoneConfig.config.networkMenuButtonOverlayDirectedEdgesLabel }}"

tooltip="Overlay edges with directions from OmniPath." [value]="drugstoneConfig.config.overlayDirectedEdges" (valueChange)=" networkHandler.activeNetwork.updateDirectedEdgesOverlay($event) " icon="arrow-right"></app-toggle-inplace> </div> </div> </div> </div>
