<div class="content">
  <ng-select [items]="queryItems" bindLabel="backendId" bindValue="data" [virtualScroll]="true" class="custom"
             placeholder="Search..." [hideSelected]="true" [searchFn]="querySearch" (change)="select($event)" data-tooltip="Find proteins in the network.">
    <ng-template ng-option-tmp let-item="item">
      <b *ngIf="item.type == 'host'"> {{item.data.name}}</b>
      <b *ngIf="item.type == 'virus'"> {{item.data.effectName}}</b> <br/>
      <span><small *ngIf="item.type === 'virus'">Viral Protein</small><small *ngIf="item.type === 'host'">Host Protein</small> | </span>
      <span *ngIf="item.type == 'host'"><small>AC: <b>{{item.data.proteinAc}}</b></small> </span>
      <span *ngIf="item.type == 'virus'"><small><b>{{item.data.virusName}}</b></small></span>
    </ng-template>
  </ng-select>
</div>
