<div class="content">
  <ng-select [items]="queryItems" bindLabel="name" bindValue="data" [virtualScroll]="true" class="custom"
             placeholder="Search..." [hideSelected]="true" [searchFn]="querySearch" (change)="select($event)">
    <ng-template ng-option-tmp let-item="item">
      <b *ngIf="item.type == 'Host Protein'"> {{item.data.name}}</b>
      <b *ngIf="item.type == 'Viral Protein'"> {{item.data.effectName}}</b> <br/>
      <span><small>{{item.type}}</small> | </span>
      <span *ngIf="item.type == 'Host Protein'"><small>AC: <b>{{item.data.proteinAc}}</b></small> </span>
      <span *ngIf="item.type == 'Viral Protein'"><small><b>{{item.data.virusName}}</b></small></span>
    </ng-template>
  </ng-select>
</div>
