.drugstone-plugin-icon {
  &.drugstone-plugin-only-item-in-button {
    height: 1.5rem !important;
  }
  &:not(.drugstone-plugin-only-item-in-button) {
    margin-right: unset !important;
  }
  &.drugstone-plugin-first-item-in-button {
    margin-right: unset !important;
    margin-left: calc(-0.5em - 1px) !important;
  }
  &.drugstone-plugin-last-item-in-button {
    margin-left: unset !important;
    margin-right: calc(-0.5em - 1px) !important;
  }
  &-height-normal {
    vertical-align: middle;
    height: 1em !important;
  }
}
