<button
  class="button is-rounded has-tooltip"
  [pTooltip]="tooltip"
  [tooltipStyleClass]="'drgstn drgstn-tooltip drgstn-tooltip-right'"
  tooltipPosition="right"
  (click)="toggle()"
  [ngClass]="{
    'is-primary': value,
    'is-small': drugstoneConfig.smallStyle
  }"
  >
  @if (value) {
    <app-fa-solid-icon
      [icon]="iconOn"
      classString="is-small first-item-in-button has-text-success"
    ></app-fa-solid-icon>
  }
  @if (!value) {
    <app-fa-solid-icon
      [icon]="iconOff"
      classString="is-small first-item-in-button has-text-danger"
    ></app-fa-solid-icon>
  }

  <span [ngClass]="{ 'text-small': drugstoneConfig.smallStyle }">{{
    text
  }}</span>

  @if (icon) {
    <app-fa-solid-icon
      classString="is-small last-item-in-button"
      [icon]="icon"
    ></app-fa-solid-icon>
  }
</button>
